<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <th:block th:insert="/fragments/global::head-links"/>
    <link rel="stylesheet" href="/styles/pages/members/join-1.css" />
    <title>Document</title>
    <script type="text/javascript">
      function checkRadio(){
        if(!document.getElementById("center-yes").checked &&!document.getElementById("center-no").checked) || (!document.getElementById("personal-yes").checked &&!document.getElementById("personal-no").checked) || (!document.getElementById("marketing-yes").checked &&!document.getElementById("marketing-no").checked){alert("동의여부를 모두 선택해주세요");}else{document.getElementById("toNextPage").submit();}
        // if(!document.getElementById("center-yes").checked &&
        //   !document.getElementById("center-no").checked){
        //     alert("동의여부를 모두 선택해주세요.");
        //   } else {
        //     if(!document.getElementById("personal-yes").checked &&
        //     !document.getElementById("personal-no").checked
        //     ){
        //       alert("동의여부를 모두 선택해주세요.");
        //     } else {
        //       if(!document.getElementById("marketing-yes").checked &&
        //       !document.getElementById("marketing-no").checked){
        //         alert("동의여부를 모두 선택해주세요.");
        //       } else {
        //         document.getElementById("toNextPage").submit();
        //       }
        //     }
          // }
      }
    </script>
  </head>
  <body>
    <th:block th:insert="~{/fragments/global::global(~{this::main})}">
      <main>
        <section class="themeArea">
          <h4>&nbsp;</h4>
          <h3>회원서비스</h3>
        </section>
        <section class="navigator">
          <div class="navsizebox">
            <div class="navigate">
              <a class="navHome" href="/">
                <img src="/imgsrc/assets/cwac-menu_icon01.png" alt=""/>
              </a>
              <a class="navSelect" href="#">회원서비스</a>
              <a class="navSelect" href="#">회원동의</a>
            </div>
            <div class="actions">
              <a class="printicon" href="#">
                <img src="/imgsrc/assets/cwac-menu_icon03.png" alt=""/>
              </a>
              <a class="shareicon" href="#">
                <img src="/imgsrc/assets/cwac-menu_icon04.png" alt=""/>
              </a>
            </div>
          </div>
        </section>
        <section class="pageContents">
          <div class="pageTitle">
            <p>회원동의</p>
          </div>
          <div class="maincontents">
              <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
            <div class="processNlogo">
                <div class="logoline">
                    <img src="/imgsrc/assets/join/member_ogo.gif" alt="">
                </div>
                <div class="process1">
                    <ul>
                        <li class="first">
                          <img src="/imgsrc/assets/join/member_bg1on.png" alt="">회원약관동의
                        </li>
                        <li class="second">
                          <img src="/imgsrc/assets/join/member_bg2.png" alt="">인증
                        </li>
                        <li class="third">
                          <img src="/imgsrc/assets/join/member_bg3.png" alt="">정보입력
                        </li>
                        <li class="forth">
                          <img src="/imgsrc/assets/join/member_bg4.png" alt="">가입완료
                        </li>
                    </ul>
                </div>
            </div>

            <form th:action="@{/member/signup/step2}" method="post" id="toNextPage" class="terms">
              <input type="text" name="memberType" th:value="${memberType}" hidden>
                <span class="sectionTitle">회원약관 동의</span>
                <div class="termBox">
                    <span class="termTitle">예술의전당 회원 약관</span>
                    <div class="clauses" style="border-bottom : none">
                        <span class="clauseTitle">제1장 회원 기본서비스</span>
                        <span class="clauseText">제1조 (목적)
                          <br/>
                          이 회원약관은 예술의전당(이하 “전당”이라고 합니다.)이 운영하는 예술의전당의 회원(이하 “회원”이라고 합니다.) 가입과 혜택 등(이하 “서비스”라고 합니다) 이용조건 및 절차에 관하여 예술의전당과 회원 사이의 권리, 의무 및 책임사항의 규정을 목적으로 합니다.
                        </span>
                    </div>
                    <div class="clauses">
                        <span class="clauseTitle">
                          예술의전당 유료 및 무료회원으로 가입하기 위한 약관입니다. 구성은 다음과 같습니다.
                        </span>
                        <span class="clauseText">
                          1. 기본서비스
                          <br/>
                          2. 회원등급별 서비스
                          <br/>
                          3. 개인정보보호
                          <br/>
                          4. 기타
                        </span>
                        <span class="clauseCaution red-font">
                          본 약관은 필수 약관으로 가입을 위해서는 필히 동의하여야 합니다.
                        </span>
                    </div>
                    <div class="agreementCheck">
                        <span class="isAgree">
                          위 회원약관에 동의합니다.(필수)
                        </span>
                        <input type="radio" name="centerAgreement" id="center-yes" value="y">
                        <label for="center-yes">동의함</label>

                        <input type="radio" name="centerAgreement" id="center-no" value="n">
                        <label for="center-no">동의하지 않음</label>
                    </div>
                </div>

                <div class="termBox">
                    <span class="termTitle">
                      개인정보 수집 및 이용안내
                    </span>
                    <div class="clauses" >
                        <span class="clauseTitle">
                          정보통신망법 및 개인정보 보호법에 따른 개인정보의 수집 및 이용에 대한 동의 절차입니다.
                        </span>
                        <span class="clauseText">
                          1. 개인정보 수집 목적 : 홈페이지 회원 서비스 제공
                          <br>
                          2. 개인정보 수집 항목 (필수항목) : 성명, 생년월일, 성별, 주소, 연락처, 이메일
                          <br>
                          3. 개인정보의 보유 및 이용기간 : 최종 로그인 기준 1년, 예술의전당 이용고객(유료회원, 입장권구매, 수강신청) 최종 이용일 기준 5년
                          <br>
                          4. 동의 거부권 및 불이익 : 개인정보 수집·이용에 거부할 권리가 있으나 거부 시 회원가입에 제한됨
                        </span>
                        <span class="clauseCaution red-font">
                          해당 내용에 동의하여야만 회원가입이 가능합니다.
                        </span>
                    </div>
                    <div class="agreementCheck">
                        <span class="isAgree">
                          위 개인정보 수집·이용에 동의합니다.(필수)
                        </span>
                        <input type="radio" name="personalAgreement" id="personal-yes" value="y">
                        <label for="personal-yes">동의함</label>
                        <input type="radio" name="personalAgreement" id="personal-no" value="n">
                        <label for="personal-no">동의하지 않음</label>
                    </div>
                </div>

                <div class="termBox">
                    <span class="termTitle">홍보 및 마케팅에 관한 동의</span>
                    <div class="clauses" >
                        <span class="clauseTitle">
                          예술의전당은 “개인정보 보호법”에 따라 동의를 얻어 아래와 같이 예술의전당 서비스의 홍보 및 마케팅을 위한 개인정보를 수집ㆍ이용합니다.
                        </span>
                        <span class="clauseText">
                          1. 개인정보 수집 목적 : 이메일발송, 단문서비스(SMS/LMS/MMS), 정보제공, 이벤트당첨결과 등을 제공
                          <br>
                          2. 인구통계학적 정보를 활용한 통계 분석작업
                          <br>
                          3. 개인정보 수집 항목 : 이메일, 연락처, 주소, 성별, 연령, 지역
                          <br>
                          4. 보유 및 이용기간 : 최종 로그인 기준 1년이며 예술의전당 이용고객(유료회원, 입장권구매, 수강신청)은 최종 이용일 기준 5년
                        </span>
                        <span style="font-size:20 ; font-weight:500" class="clauseCaution red-font">
                          귀하는 개인정보 수집에 대한 동의를 거부할 권리가 있으며, 동의를 거부할 경우 위의 수집목적에 관한 서비스 제공에 제한을 받을 수 있습니다.
                        </span>
                    </div>
                    <div class="agreementCheck">
                        <span class="isAgree">
                          위 개인정보 수집·이용에 동의합니다.(선택)
                        </span>
                        <input type="radio" name="marketingAgreement" id="marketing-yes" value="y">
                        <label for="marketing-yes">동의함</label>
                        <input type="radio" name="marketingAgreement" id="marketing-no" value="n">
                        <label for="marketing-no">동의하지 않음</label>
                    </div>
                </div>

                <div class="allYesBox">
                    <span>
                      회원약관(필수), 개인정보 수집 및 이용(필수), 홍보 및 마케팅에 관하여(선택) 모두 동의합니다.
                    </span>
                    <input type="checkbox" id="changeAll">
                </div>

                <div class="processBtn">
                    <div class="getFileBox">
                        <a href="#" class="downloadY">
                          <img src="/imgsrc/assets/join/ci-logo-info_downicon.png" alt="">약관 다운로드
                        </a>
                    </div>
                    <div class="beforeOrAfter">
                        <button type="button" class="befor">
                          <img src="/imgsrc/assets/join/member_bg5.png" alt="">이전
                        </button>
                        <button onclick="checkRadio()" type="button" class="afte red-font red-border">
                          다음<img src="/imgsrc/assets/join/member_bg6.png" alt="">
                        </button>
                    </div>    
                </div>

            </form>

          </div>
        </section>
      </main>
    </th:block>
  </body>
</html>
