<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <th:block th:insert="/fragments/global::head-links"/>
    <link rel="stylesheet" href="/styles/pages/members/join-1.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Document</title>
    <script type="text/javascript">
      var pnRule = /^(?=.*[0-9]).{11}$/;    // 전화번호 rule : 11자리, 숫자만 입력가능

      $(function() {
        
        $("#sendSMSbtn").click(smscheck);
        $("#verifyBtn").click(verifyCheck);

      });

      function smscheck(){
        var phoneNumber = $('#pno').val();
        alert(phoneNumber);

        $.ajax({
              type: "GET",
              url: "/member/signup/verification",
              data: {
                  phoneNumber : phoneNumber,
              },

              success: function(res){
                alert(res);
                document.getElementById("tmpVN").value=res;
              },
          });
      }

      function verifyCheck(){
        alert("verifyCheck function executing");

        if($("#tmpVN").val() == $("#codeTocheck").val()){
            alert("인증 성공");
          document.getElementById("toNextPage").submit();
        }else{
          alert("인증 실패");
        }
                  
      }
    </script>
  </head>
  <body>
    <th:block th:insert="~{/fragments/global::global(~{this::main})}">
      <main>
        <section class="themeArea">
          <h4>&nbsp;</h4>
          <h3>회원서비스</h3>
        </section>
        <section class="navigator">
          <div class="navsizebox">
            <div class="navigate">
              <a class="navHome" href="/"
                ><img src="/imgsrc/assets/cwac-menu_icon01.png" alt=""
              /></a>
              <a class="navSelect" href="#">회원서비스</a>
              <a class="navSelect" href="#">회원동의</a>
            </div>
            <div class="actions">
              <a class="printicon" href="#"
                ><img src="/imgsrc/assets/cwac-menu_icon03.png" alt=""
              /></a>
              <a class="shareicon" href="#"
                ><img src="/imgsrc/assets/cwac-menu_icon04.png" alt=""
              /></a>
            </div>
          </div>
        </section>
        <section class="pageContents">
          <div class="pageTitle">
            <p>회원동의</p>
          </div>
          <div class="maincontents">
              <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
            <div class="processNlogo">
                <div class="logoline">
                    <img src="/imgsrc/assets/join/member_ogo.gif" alt="">
                </div>
                <div class="process1">
                    <ul>
                        <li class="first"><img src="/imgsrc/assets/join/member_bg1.png" alt="">회원약관동의</li>
                        <li class="second"><img src="/imgsrc/assets/join/member_bg2on.png" alt="">인증</li>
                        <li class="third"><img src="/imgsrc/assets/join/member_bg3.png" alt="">정보입력</li>
                        <li class="forth"><img src="/imgsrc/assets/join/member_bg4.png" alt="">가입완료</li>
                    </ul>
                </div>
            </div>
            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
            <div class="terms">
                <span class="sectionTitle">인증</span>
                <div class="termBox">
                    <span class="termTitle">실명인증</span>
                    <div class="mobileOrIpin">
                        <form id="toNextPage" th:action="@{/member/signup/step3}" method="post" class="smsverify" style="width:35% ; border : 1px dotted black; margin : 0 5% ; padding : 0 5%;">
                          <strong>TEST ONLY</strong>
                          <ol style="font-size : 13px ;">
                            <li style="list-style:decimal">휴대폰 본인인증 구현의 어려움으로 문자인증으로 대체</li>
                            <li style="list-style:decimal">인증문자 발송에 비용발생으로 기능테스트 외에는 문자발송단계 생략</li>
                            <li style="list-style:decimal">임시번호를 인증문자로 사용해 진행가능</li>
                          </ol>
                          <input  type="text" name="centerAgreement" th:value="${center}" hidden>
                          <input  type="text" name="personalAgreement" th:value="${personal}" hidden>
                          <input  type="text" name="marketingAgreement" th:value="${marketing}" hidden>
                          <input  type="text" name="memberType" th:value="${memberType}" hidden>
                          <p style="display:flex ; font-weight : 900 ; margin : 1rem 0;"><span style="margin-right : 1rem" class="red-font">임시 인증번호</span><input style="text-align: center;" class="red-border" type="text" name="tempVerifyNumber" id="tmpVN" value="4444" readonly></p>
                          <p><span>이름</span><input type="text" name="name" placeholder="공백없이 입력"></p>
                          <p><span>생년월일</span><input max="2022-01-01" type="date" name="birthday"></p>
                          <p><span>휴대폰번호</span><input type="text" id="pno"  name="phone" placeholder="-제외, 공백없이 숫자만 입력"><button id="sendSMSbtn" type="button" disabled>인증번호 전송</button></p>
                          <p><span>인증번호</span><input type="text" id="codeTocheck" name="code"><button id="verifyBtn" type="button">인증번호 확인</button></p>
                        </form>
                        <a href="#">
                            <img src="/imgsrc/assets/join/member_img1.png" alt="">
                        </a>
                        <a href="#">
                            <img src="/imgsrc/assets/join/member_img2.png" alt="">
                        </a>
                    </div>
                </div>
                <span class="sectionTitle"></span>
                <span class="legalNotice">
                    예술의전당은 개인정보호법을 준수하고, 고객님의 정보를 안전하게 보호하기 위해 주민등록번호를 통한 실명확인을 하지 않고 있습니다.<br>(관련 법률 개정 정보통신망법 및 동법 시행령, 제 23조의 2)
                </span>
            </div>
          </div>
        </section>
      </main>
    </th:block>
  </body>
</html>
