<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <th:block th:insert="/fragments/global::head-links" />
    <link rel="stylesheet" href="/styles/pages/sitemap.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css"
    />
    <script
      src="https://kit.fontawesome.com/b54dc124b3.js"
      crossorigin="anonymous"
    ></script>
    <title>사이트맵 | 이용안내 | 예술의전당</title>
  </head>
  <body>
    <th:block th:insert="~{/fragments/global::global(~{this::main})}">
      <main>
        <section class="themeArea">
          <h4>&nbsp;</h4>
          <h3>이용안내</h3>
        </section>
        <section class="navigator">
          <div class="navsizebox">
            <div class="navigate">
              <a class="navHome" href="/"
                ><img src="/imgsrc/assets/cwac-menu_icon01.png" alt=""
              /></a>
              <a class="navSelect" href="#">이용안내</a>
              <a class="navSelect" href="#">사이트맵</a>
            </div>
            <div class="actions">
              <a class="printicon" href="#"
                ><img src="/imgsrc/assets/cwac-menu_icon03.png" alt=""
              /></a>
              <a class="shareicon" href="#"
                ><img src="/imgsrc/assets/cwac-menu_icon04.png" alt=""
              /></a>
            </div>
          </div>
        </section>
        <section class="pageContents">
          <div class="pageTitle">
            <p>사이트 맵</p>
          </div>
          <div class="maincontents">
            <div class="programs">
              <p class="listTitle">공연·전시</p>
              <ul>
                <li>
                  <a href="#"><span>전체일력(달력)</span></a>
                </li>
                <li>
                  <a href="#"><span>오늘의 공연·전시</span></a>
                </li>
                <li>
                  <a href="#"><span>진행/예정 프로그램</span></a>
                </li>
                <li>
                  <a href="#"><span>SAC기획 공연·전시</span></a>
                </li>
                <li>
                  <a href="#"><span>패키지</span></a>
                </li>
                <li>
                  <a href="#"><span>티켓오픈공지</span></a>
                </li>
                <li>
                  <a href="#"><span>싹(SAC)딜</span></a>
                </li>
                <li>
                  <a href="#"><span>당일할인티켓</span></a>
                </li>
                <li>
                  <a href="#"><span>예매·취소 안내</span></a>
                </li>
              </ul>
            </div>
            <div class="rent">
              <p class="listTitle">공간·대관</p>
              <ul>
                <li>
                  <a href="#"><span>공간소개</span></a>
                  <ul class="microCategory">
                    <li><a href="#">공간안내</a></li>
                    <li><a href="#">공연장</a></li>
                    <li><a href="#">전시장</a></li>
                    <li><a href="#">야외공간</a></li>
                    <li><a href="#">홍보관(@700)</a></li>
                    <li><a href="#">사이버투어</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#"><span>공간별 대관안내</span></a>
                  <ul class="microCategory">
                    <li><a href="#">오페라하우스</a></li>
                    <li><a href="#">음악당</a></li>
                    <li><a href="#">미술관 · 박물관</a></li>
                    <li><a href="#">기타 행사공간 및 촬영장소</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#"><span>입장권 운영안내</span></a>
                  <ul class="microCategory">
                    <li><a href="#">입장권 운영안내</a></li>
                    <li><a href="#">공간별 특이사항 및 좌석 안내</a></li>
                    <li><a href="#">공연·전시 홍보 서비스 안내</a></li>
                    <li><a href="#">홈페이지 배너 신청</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="academy">
              <p class="listTitle">아카데미</p>
              <ul>
                <li>
                  <a href="#"><span>아카데미 안내</span></a>
                  <ul class="microCategory">
                    <li><a href="#">아카데미 메인</a></li>
                    <li><a href="#">인문 · 감상</a></li>
                    <li><a href="#">미술실기</a></li>
                    <li><a href="#">서화실기</a></li>
                    <li><a href="#">어린이</a></li>
                    <li><a href="#">음악영재</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#"><span>수강신청</span></a>
                </li>
                <li>
                  <a href="#"><span>아카데미 공지사항</span></a>
                </li>
                <li>
                  <a href="#"><span>아카데미 FAQ</span></a>
                </li>
                <li>
                  <a href="#"><span>오디션신청</span></a>
                </li>
                <li>
                  <a href="#"><span>나의강좌</span></a>
                </li>
                <li>
                  <a href="#"><span>온라인 사군자</span></a>
                </li>
              </ul>
            </div>
            <div class="welcome">
              <p class="listTitle">소식·이용·참여</p>
              <ul>
                <li>
                  <a href="#"><span>전당소식</span></a>
                  <ul class="microCategory">
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">언론보도</a></li>
                    <li><a href="#">채용공고</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#"><span>오시는 길·주차안내</span></a>
                </li>
                <li>
                  <a href="#"><span>편의서비스</span></a>
                  <ul class="microCategory">
                    <li><a href="#">공연장 편의서비스</a></li>
                    <li><a href="#">전시장 편의서비스</a></li>
                    <li><a href="#">장애인·국가유공자 이용안내</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#"><span>입점매장</span></a>
                  <ul class="microCategory">
                    <li><a href="#">음식점</a></li>
                    <li><a href="#">쇼핑</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#"><span>고객센터</span></a>
                  <ul class="microCategory">
                    <li><a href="#">서비스플라자</a></li>
                    <li><a href="#">유실물센터</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">1:1문의하기</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#"><span>이벤트</span></a>
                </li>
                <li>
                  <a href="#"><span>세계음악분수(선곡표)</span></a>
                </li>
                <li>
                  <a href="#"><span>관람평</span></a>
                  <ul class="microCategory">
                    <li><a href="#">최대 별점 공연/전시</a></li>
                    <li><a href="#">최신순</a></li>
                    <li><a href="#">평점 높은순</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#"><span>관람예절</span></a>
                </li>
              </ul>
            </div>
            <div class="memberNorganization">
              <div class="memberService">
                <p class="listTitle">회원서비스</p>
                <ul>
                  <li>
                    <a href="/member/signup"><span>회원가입</span></a>
                  </li>
                  <li>
                    <a href="/member/signin"><span>로그인</span></a>
                  </li>
                  <li>
                    <a href="/member/find-id"><span>아이디 찾기</span></a>
                  </li>
                  <li>
                    <a href="/member/find-pw"><span>패스워드 찾기</span></a>
                  </li>
                  <li>
                    <a href="/member/premium/benefits"
                      ><span>유료회원 혜택안내</span></a
                    >
                    <ul class="microCategory">
                      <li>
                        <a href="/member/premium/benefits">프리미엄서비스</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="aboutOrganization">
                <p class="listTitle">기관소개</p>
                <ul>
                  <li>
                    <a href="#"><span>기관소개 메인</span></a>
                  </li>
                  <li>
                    <a href="#"><span>예술의전당 소개</span></a>
                    <ul class="microCategory">
                      <li><a href="#">인사말</a></li>
                      <li><a href="#">역사</a></li>
                      <li><a href="#">운영이념</a></li>
                      <li><a href="#">조직</a></li>
                      <li><a href="#">CI소개</a></li>
                      <li><a href="#">협력기관</a></li>
                      <li><a href="#">후원회</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#"><span>특별사업</span></a>
                    <ul class="microCategory">
                      <li><a href="#">SAC ON SCREEN</a></li>
                      <li><a href="#">객석기부</a></li>
                      <li><a href="#">문화햇살사업</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#"><span>정보공개</span></a>
                    <ul class="microCategory">
                      <li><a href="#">정보공개안내</a></li>
                      <li><a href="#">사전정보공표</a></li>
                      <li><a href="#">공공데이터 개방</a></li>
                      <li><a href="#">경영공시</a></li>
                      <li><a href="#">사업실명제</a></li>
                      <li><a href="#">운영보고서</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#"><span>후원하기</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </main>
    </th:block>
  </body>
</html>
