<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <th:block th:insert="/fragments/global::head-links" />
    <link rel="stylesheet" href="/styles/pages/members/join-1.css" />
    <title>Document</title>
  </head>
  <body>
    <th:block th:insert="~{/fragments/global::global(~{this::main})}">
      <main>
        <section class="themeArea">
          <h4>&nbsp;</h4>
          <h3>회원서비스</h3>
        </section>
        <section class="navigator">
          <div class="navsizebox">
            <div class="navigate">
              <a class="navHome" href="/"
                ><img src="/imgsrc/assets/cwac-menu_icon01.png" alt=""
              /></a>
              <a class="navSelect" href="#">회원서비스</a>
              <a class="navSelect" href="#">가입완료</a>
            </div>
            <div class="actions">
              <a class="printicon" href="#"
                ><img src="/imgsrc/assets/cwac-menu_icon03.png" alt=""
              /></a>
              <a class="shareicon" href="#"
                ><img src="/imgsrc/assets/cwac-menu_icon04.png" alt=""
              /></a>
            </div>
          </div>
        </section>
        <section class="pageContents">
          <div class="pageTitle">
            <p class="red-font">[임시] 가입완료</p>
          </div>
          <div class="maincontents">
            <th:block th:if="${joined}">
              <p>memberType = [[${joined.memberType}]]</p>
              <p>roles = [[${joined.roles}]]</p>
              <p>userId = [[${joined.userId}]]</p>
              <p>userPw = [[${joined.userPw}]]</p>
              <p>name = [[${joined.name}]]</p>
              <p>birthDate = [[${joined.birthDate}]]</p>
              <p>calendar = [[${joined.calendar}]]</p>
              <p>gender = [[${joined.gender}]]</p>
              <p>addressPostal = [[${joined.addressPostal}]]</p>
              <p>address_1 = [[${joined.address_1}]]</p>
              <p>address_2 = [[${joined.address_2}]]</p>
              <p>phone = [[${joined.phone}]]</p>
              <p>email = [[${joined.email}]]</p>
              <p>marketing_email = [[${joined.marketing_email}]]</p>
              <p>marketing_sms = [[${joined.marketing_sms}]]</p>
              <p>centerTerm = [[${joined.centerTerm}]]</p>
              <p>personalTerm = [[${joined.personalTerm}]]</p>
              <p>marketingTerm = [[${joined.marketingTerm}]]</p>
            </th:block>
          </div>
        </section>
      </main>
    </th:block>
  </body>
</html>
