<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <th:block th:insert="/fragments/global::head-links" />
    <link rel="stylesheet" href="/styles/pages/members/join.css" />
    <script src="/javascript/join/join.js"></script>
    <title>Document</title>
  </head>
  <body>
    <th:block th:insert="~{/fragments/global::global(~{this::main})}">
      <main>
        <section class="themeArea">
          <h4>&nbsp;</h4>
          <h3>회원서비스</h3>
        </section>
        <section class="navigator">
          <div class="navsizebox">
            <div class="navigate">
              <a class="navHome" href="/"
                ><img src="/imgsrc/assets/cwac-menu_icon01.png" alt=""
              /></a>
              <a class="navSelect" href="#">회원서비스</a>
              <a class="navSelect" href="#">회원가입</a>
            </div>
            <div class="actions">
              <a class="printicon" href="#"
                ><img src="/imgsrc/assets/cwac-menu_icon03.png" alt=""
              /></a>
              <a class="shareicon" href="#"
                ><img src="/imgsrc/assets/cwac-menu_icon04.png" alt=""
              /></a>
            </div>
          </div>
        </section>
        <section class="pageContents">
          <div class="pageTitle">
            <p>회원가입</p>
          </div>
          <div class="maincontents">
            <div class="welcomejoin">
              <div class="textbox">
                <p class="welcometitle">예술의전당과 함께 Beautiful Life!</p>
                <p class="welcomeparagraph">
                  매해 다채로운 공연과 전시, 오랜전통과 명성을 이어온 레퍼토리
                  프로그램, 최고 거장들과의 만남을 통해 예술을 사랑하는 회원님께
                  감동의 순간을 선사하고자 노력합니다.
                </p>
              </div>
            </div>
            <div class="joinFreetier">
              <div class="sectiontitle">
                <h3>무료회원</h3>
              </div>
              <div class="tierSelect">
                <div class="over25">
                  <p class="tierName">일반회원</p>
                  <div class="describ">
                    <p class="ageIns"># 25세 이상</p>
                    <img src="/imgsrc/assets/join/ship_img1.png" alt="" />
                  </div>
                  <button
                    onclick="location.href='/member/signup/step1?t=adult'"
                    class="join"
                  >
                    회원가입
                  </button>
                  <button class="detail">혜택상세안내</button>
                </div>
                <div class="under25">
                  <p class="tierName" style="padding: 2% 5% 2% 5%">
                    싹틔우미회원
                  </p>
                  <div class="describ">
                    <p class="ageIns"># 만7~24세</p>
                    <img src="/imgsrc/assets/join/ship_img2.png" alt="" />
                  </div>
                  <button
                    onclick="location.href='/member/signup/step1?t=junior'"
                    class="join"
                  >
                    회원가입
                  </button>
                  <button class="detail">혜택상세안내</button>
                </div>
                <div class="over70">
                  <p class="tierName">노블회원</p>
                  <div class="describ">
                    <p class="ageIns"># 70세 이상</p>
                    <img src="/imgsrc/assets/join/ship_img3.png" alt="" />
                  </div>
                  <button
                    onclick="location.href='/member/signup/step1?t=senior'"
                    class="join"
                  >
                    회원가입
                  </button>
                  <button class="detail">혜택상세안내</button>
                </div>
              </div>
            </div>
            <div class="joinPaidtier">
              <div class="sectiontitle">
                <h3>유료회원</h3>
              </div>
              <div class="tierSelect">
                <div class="corpMember">
                  <p class="tierName">일반회원</p>
                  <div class="describ">
                    <p class="ageIns"># 연회비 500 · 1000 · 1500 만원</p>
                    <img src="/imgsrc/assets/join/ship_img4.png" alt="" />
                  </div>
                  <button class="join">회원가입</button>
                  <button class="detail">혜택상세안내</button>
                </div>
                <div class="goldMember">
                  <p class="tierName">골드회원</p>
                  <div class="describ">
                    <p class="ageIns"># 연회비 10 만원</p>
                    <img src="/imgsrc/assets/join/ship_img5.png" alt="" />
                  </div>
                  <button class="join">회원가입</button>
                  <button class="detail">혜택상세안내</button>
                </div>
                <div class="blueMember">
                  <p class="tierName">블루회원</p>
                  <div class="describ">
                    <p class="ageIns"># 연회비 4만원</p>
                    <img src="/imgsrc/assets/join/ship_img6.png" alt="" />
                  </div>
                  <button class="join">회원가입</button>
                  <button class="detail">혜택상세안내</button>
                  <p class="union">
                    * 유니온페이 제휴회원 가입은 에술의전당
                    고객센터(02-580-1300)에서 가능합니다.
                  </p>
                </div>
                <div class="greenMember">
                  <p class="tierName">그린회원</p>
                  <div class="describ">
                    <p class="ageIns"># 연회비 2만원</p>
                    <img src="/imgsrc/assets/join/ship_img7.png" alt="" />
                  </div>
                  <button class="join">회원가입</button>
                  <button class="detail">혜택상세안내</button>
                </div>
              </div>
            </div>
          </div>
          <div class="presentGoldmembership">
            <div class="left">
              <p class="leftTitle">
                명절, 결혼, 생일, 각종 기념일, 직원 복지 등 소중한 순간에
              </p>
              <span>예술의전당 골드회원권을 선물하세요.</span>
              <ul>
                <li>∙ 우선 예매 기회 제공</li>
                <li>∙ 공연 전시 티켓 5~40% 할인</li>
                <li>∙ 무료 주차권 12매 제공 (12만원 상당)</li>
                <li>∙ 제작 기획 공연 프로그램북 교환권 12매 제공</li>
                <li>∙ 회원 한정 티켓 특가 세일 (싹딜 참여)</li>
                <li>∙ 회원만을 위한 특별 초청 이벤트</li>
                <li>∙ 예술의전당 아카데미 수강료 5% 할인 (일부 강좌 제외)</li>
                <li>∙ 회원만을 위한 특별 음악회 개최</li>
                <li>∙ 예술의전당 내외부 제휴 매장 할인</li>
                <li>∙ 안내 문자(SMS) 발송 (선예매, 이벤트 안내 등)</li>
              </ul>
            </div>
            <div class="right">
              <img src="/imgsrc/assets/join/ship_img11.png" alt="" />
              <p class="sectionTitle">현장 구입</p>
              <p class="sectionText">
                예술의전당 서비스플라자 (비타민스테이션 내 위치)
              </p>
              <div class="methodInst">
                <p class="mark">▶</p>
                <p class="sectionText">바로 수령 가능</p>
              </div>

              <p class="sectionTitle">전화 구입</p>
              <p class="sectionText">예술의전당 콜센터(02-580-1300)</p>
              <div class="methodInst">
                <p class="mark">▶</p>
                <p class="sectionText">
                  구매 시 선물하실 분 성함, 전화번호, 주소를 알려주시면 선물용
                  골드회원권을 배송해드립니다.
                </p>
              </div>
            </div>
          </div>
          <div class="kakaoGift">
            <div class="left">
              <div>
                <div class="texts">
                  <p class="leftTitle">예술의전당 골드,블루회원권</p>
                  <span>카카오톡으로 선물하기</span>
                </div>
                <div>
                  <img src="/imgsrc/assets/join/ship_img9.png" alt="" />
                </div>
              </div>
              <ul>
                <li>
                  <p>Step 1</p>
                  - 카카오톡에서 ‘선물하기’ 선택
                </li>
                <li>
                  <p>Step 2</p>
                  - ‘예술의전당’ 검색
                </li>
                <li>
                  <p>Step 3</p>
                  - 골드회원 또는 블루회원 선택
                </li>
                <li>
                  <p>Step 4</p>
                  - ‘선물하기’ 선택
                </li>
              </ul>
            </div>
            <div class="backImage">
              <img src="/imgsrc/assets/join/ship_img8.png" alt="" />
            </div>
          </div>
          <div class="unionBenefit">
            <div>
              <div class="logo">
                <img src="/imgsrc/assets/join/ship_img10.png" alt="" />
              </div>
              <div class="benefits">
                <span class="microTitle">유니온페이 제휴회원</span>
                <span class="largeTitle">블루회원 혜택 제공 (연간 1회)</span>
                <span class="benefitDetails">회원가입혜택상세안내</span>
                <ul>
                  <li style="border-top: 1px solid #e6e6e6">
                    <img src="/imgsrc/assets/join/ship_icon1.gif" alt="" />
                    <div class="texts">
                      <span class="detailTitle">
                        유니온페이 다이아몬드 카드 회원 대상
                      </span>
                      <span class="detailText">
                        블루회원 혜택 제공 (연간 1회)
                      </span>
                    </div>
                  </li>
                  <li>
                    <img src="/imgsrc/assets/join/ship_icon2.gif" alt="" />
                    <div class="texts">
                      <span class="detailTitle">
                        유니온페이 다이아몬드 카드 소지자는 블루회원에 무료
                        가입할 수 있으며,<span style="color: red"
                          >가입은 예술의전당 고객센터 (02-580-1300)를 통해서만
                          가능</span
                        >합니다.
                      </span>
                      <span class="detailText">
                        가입문의 : 02-580-1300 (운영시간 09:00~20:00)
                      </span>
                    </div>
                  </li>
                  <li>
                    <img src="/imgsrc/assets/join/ship_icon3.gif" alt="" />
                    <div class="texts">
                      <span class="detailTitle"> 대상카드 </span>
                      <span class="detailText">
                        <ul>
                          <li>우리카드 : 로얄블루/로얄블루L/로얄블루1000</li>
                          <li>롯데카드 : 위버스카이</li>
                          <li>NH농협카드 : Ü(위)</li>
                          <li>KB국민카드 : BeV Ⅴ, BeV Ⅲ, Star B</li>
                          <li>신한카드 : THE ACE BLUE LABEL</li>
                          <li>하나카드 : CLUB SIGNATURE</li>
                        </ul>
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </main>
    </th:block>
  </body>
</html>
