<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <th:block th:insert="/fragments/global::head-links"/>
    <link rel="stylesheet" href="/styles/pages/members/premium.css" />
    <script type="text/javascript">
      $(function () {
              $("#free-park-btn").click(function () {
                buttonPreset($(this));
                document.getElementById("free-park").classList.remove("hidden");
              });

              $("#rehearsal-btn").click(function () {
                buttonPreset($(this));
                document.getElementById("rehearsal").classList.remove("hidden");
              });

              $("#tour-btn").click(function () {
                buttonPreset($(this));
                document.getElementById("tour").classList.remove("hidden");
              });

              $("#events-btn").click(function () {
                buttonPreset($(this));
                document.getElementById("events").classList.remove("hidden");
              });

              $("#booking-btn").click(function () {
                buttonPreset($(this));
                document.getElementById("booking").classList.remove("hidden");
              });

              $("#specialoffers-btn").click(function () {
                buttonPreset($(this));
                document.getElementById("specialoffers").classList.remove("hidden");
              });

              function buttonPreset(v){
                $(".vingt").addClass("theme-non");
                $(".vingt").removeClass("theme-selected");
                $(v).removeClass("theme-non");
                $(v).addClass("theme-selected");
                $(".theme-detail").addClass("hidden");
              }
            });
    </script>
    <title>Document</title>
  </head>
  <body>
    <th:block th:insert="~{/fragments/global::global(~{this::main})}">
      <main>
        <section class="themeArea">
          <h4>&nbsp;</h4>
          <h3>회원서비스</h3>
        </section>
        <section class="navigator">
          <div class="navsizebox">
            <div class="navigate">
              <a class="navHome" href="/"
                ><img src="/imgsrc/assets/cwac-menu_icon01.png" alt=""
              /></a>
              <a class="navSelect" href="#">회원서비스</a>
              <a class="navSelect" href="#">유료회원 혜택안내</a>
              <a class="navSelect" href="#">프리미엄 서비스</a>
            </div>
            <div class="actions">
              <a class="printicon" href="#"
                ><img src="/imgsrc/assets/cwac-menu_icon03.png" alt=""
              /></a>
              <a class="shareicon" href="#"
                ><img src="/imgsrc/assets/cwac-menu_icon04.png" alt=""
              /></a>
            </div>
          </div>
        </section>
        <section class="pageContents">
          <div class="pageTitle">
            <p>프리미엄서비스</p>
          </div>
          <div class="maincontents">
            <div class="welcomePremium">
              <div class="textbox">
                <p class="welcometitle">
                  예술의전당 법인·골드·블루·그린회원에게 드리는 특별한 혜택을
                  즐겨 보세요!
                </p>
                <p class="welcomeparagraph">
                  프리미엄 서비스는 문화, 식사, 쇼핑 등 다양한 분야에서 특별한
                  혜택을 누릴 수 있도록 유료회원님들께만 제공해 드리는 차별화된
                  서비스입니다.
                </p>
              </div>
            </div>

            <div class="benefitsNaffiliates">
              <a href="/member/premium/benefits" class="half inflex nonclicked">혜택누리기</a>
              <a href="/member/premium/affiliates" class="half inflex current">제휴매장</a>
            </div>

            <div class="startingText">
              <span class="title">제휴 매장</span>
              <span class="subscript">
                예술의전당 회원들에게 특별한 서비스와 혜택을 드리는 제휴매장을 안내해 드립니다. (단, 일부품목 할인제외)
              </span>
            </div>

            <div class="chooseTheme">
              <button type="button" href="#" id="free-park-btn" class="vingt theme-selected">카페 · 레스토랑</button>
              <button type="button" href="#" id="rehearsal-btn" class="vingt theme-non">쇼핑</button>
              <button type="button" href="#" id="tour-btn" class="vingt theme-non" style="visibility: hidden;"></button>
              <button type="button" href="#" id="events-btn"  class="vingt theme-non" style="visibility: hidden;"></button>
              <button type="button" href="#" id="booking-btn" class="vingt theme-non" style="visibility: hidden;"></button>
              <button type="button" href="#" id="specialoffers-btn" class="vingt theme-non" style="visibility: hidden;"></button>
            </div>
            <div id="free-park" class="theme-detail magasins">
              <div class="deuxMagasins fullsize">
                  <div class="un">
                      <img src="/imgsrc/assets/premium/DcList_dining21.gif" alt="">
                      <div class="store-info">
                          <span class="store-name">웬떡마을</span>
                          <span class="store-phone">02-3474-8889</span>
                          <span class="store-location">비타민스테이션에 위치</span>
                          <span class="store-benefits">
                              <strong class="gold">G</strong>
                              골드 10% 할인
                              <br>
                              (식사(죽 포함), 음료에 한함)
                          </span>
                      </div>
                  </div>
                  <div class="deux">
                    <img src="/imgsrc/assets/premium/DcList_dining2.gif" alt="">
                    <div class="store-info">
                        <span class="store-name">테라로사 커피</span>
                        <span class="store-phone">033-648-2760</span>
                        <span class="store-location">비타민스테이션에 위치</span>
                        <span class="store-benefits">
                            <strong class="gold">G</strong>
                            골드 10% 할인
                            <br>
                            (단, 일부품목 할인제외)
                        </span>
                        <span class="store-benefits">
                            <strong class="blue">B</strong>
                            블루 5% 할인
                        </span>
                    </div>
                  </div>
              </div>
              <div class="deuxMagasins fullsize">
                <div class="un">
                    <img src="/imgsrc/assets/premium/DcList_dining3.gif" alt="">
                    <div class="store-info">
                        <span class="store-name">카페 리빈</span>
                        <span class="store-phone">02-586-1222</span>
                        <span class="store-location">예술의전당 내 한가람미술관 1F</span>
                        <span class="store-benefits">
                            <strong class="gold">G</strong>
                            골드 10%
                        </span>
                        <span class="store-benefits">
                            <strong class="blue">B</strong>
                            블루 5%
                        </span>
                        <span class="store-benefits">
                            <strong class="green">G</strong>
                            그린 5%
                        </span>
                    </div>
                </div>
                <div class="deux">
                  <img src="/imgsrc/assets/premium/DcList_dining5.gif" alt="">
                  <div class="store-info">
                      <span class="store-name">스위트 807</span>
                      <span class="store-phone">02-3482-0890</span>
                      <span class="store-location">예술의전당 내 비타민스테이션</span>
                      <span class="store-benefits">
                        <strong class="gold">G</strong>
                        골드 10%
                      </span>
                    <span class="store-benefits">
                        <strong class="blue">B</strong>
                        블루 5%
                    </span>
                    <span class="store-benefits">
                        <strong class="green">G</strong>
                        그린 5% 할인<br>(단, 일부품목 할인제외)
                    </span>
                  </div>
                </div>
            </div>
            <div class="deuxMagasins fullsize">
                <div class="un">
                    <img src="/imgsrc/assets/premium/DcList_dining6.gif" alt="">
                    <div class="store-info">
                        <span class="store-name">카페 모차르트 502</span>
                        <span class="store-phone">02-522-4916</span>
                        <span class="store-location">예술의전당 음악광장 내</span>
                        <span class="store-benefits">
                            <strong class="gold">G</strong>
                            골드 10%
                          </span>
                        <span class="store-benefits">
                            <strong class="blue">B</strong>
                            블루 5%
                        </span>
                        <span class="store-benefits">
                            <strong class="green">G</strong>
                            그린 5% 할인
                        </span>
                    </div>
                </div>
                <div class="deux">
                  <img src="/imgsrc/assets/premium/DcList_dining7.gif" alt="">
                  <div class="store-info">
                      <span class="store-name">리나스</span>
                      <span class="store-phone">02-521-6905</span>
                      <span class="store-location">예술의전당 내 오페라하우스 1F</span>
                      <span class="store-benefits">
                        <strong class="gold">G</strong>
                        골드 10% 할인 <br>(단, 일부품목 할인제외)
                      </span>
                  </div>
                </div>
            </div>
            <div class="deuxMagasins fullsize">
                <div class="un">
                    <img src="/imgsrc/assets/premium/DcList_dining8.gif" alt="">
                    <div class="store-info">
                        <span class="store-name">텍사스 데 브라질</span>
                        <span class="store-phone">02-6282-5000</span>
                        <span class="store-location">서울특별시 서초구 사평대로 205 BP4-5</span>
                        <span class="store-benefits">
                            <strong class="gold">G</strong>
                            골드 10%
                          </span>
                        <span class="store-benefits">
                            <strong class="blue">B</strong>
                            블루 10%
                        </span>
                        <span class="store-benefits">
                            <strong class="green">G</strong> <!--//TODO :: 찌그러짐-->
                            그린 10% 할인<br>(*테이블 당 10인까지 할인 가능 /<br> *사전 예약 필수)
                        </span>
                    </div>
                </div>
                <div class="deux">
                  <img src="/imgsrc/assets/premium/DcList_dining9.gif" alt="">
                  <div class="store-info">
                      <span class="store-name">크래버 대게나라</span>
                      <span class="store-phone">02-418-2338(잠실점)</span>
                      <span class="store-location">서울특별시 송파구 오금로 165<br>
                        (방이동 110-13 웰빙빌딩 1F전체)<br>
                        *서울,경기 9개지점 포함(잠실·강남·서초·광장·송도·부천·안양·동탄·분당판교)</span>
                      <span class="store-benefits">
                        <strong class="gold">G</strong>
                        골드 10%
                      </span>
                    <span class="store-benefits">
                        <strong class="blue">B</strong>
                        블루 5%
                    </span>
                    <span class="store-benefits">
                        <strong class="green">G</strong>
                        그린 5% 할인<br>(단, 일부품목 할인제외)
                    </span>
                  </div>
                </div>
            </div>
            <div class="deuxMagasins fullsize">
                <div class="un">
                    <img src="/imgsrc/assets/premium/DcList_dining10.gif" alt="">
                    <div class="store-info">
                        <span class="store-name">라 칼라스</span>
                        <span class="store-phone">02-521-3325</span>
                        <span class="store-location">서울 서초구 반포대로 8 삼흥빌딩</span>
                        <span class="store-benefits">
                            <strong class="gold">G</strong>
                            골드 10%
                          </span>
                        <span class="store-benefits">
                            <strong class="blue">B</strong>
                            블루 10%
                        </span>
                        <span class="store-benefits">
                            <strong class="green">G</strong>
                            그린 10% 할인<br>(런치,세트메뉴 제외)
                        </span>
                    </div>
                </div>
                <div class="deux">
                  <img src="/imgsrc/assets/premium/DcList_dining12.gif" alt="">
                  <div class="store-info">
                      <span class="store-name">하일아트 레스토랑</span>
                      <span class="store-phone">02-3471-1727</span>
                      <span class="store-location">서울특별시 서초구 반포대로4길 54 한원빌딩2</span>
                      <span class="store-benefits">
                        <strong class="gold">G</strong>
                        골드 10%
                      </span>
                    <span class="store-benefits">
                        <strong class="blue">B</strong>
                        블루 10%
                    </span>
                  </div>
                </div>
            </div>
            <div class="deuxMagasins fullsize">
                <div class="un">
                    <img src="/imgsrc/assets/premium/DcList_dining13.gif" alt="">
                    <div class="store-info">
                        <span class="store-name">카나디안 랍스타</span>
                        <span class="store-phone">02-595-8088</span>
                        <span class="store-location">서울특별시 서초구 남부순환로 2385</span>
                        <span class="store-benefits">
                            <strong class="gold">G</strong>
                            골드 10%
                          </span>
                        <span class="store-benefits">
                            <strong class="blue">B</strong>
                            블루 5%
                        </span>
                        <span class="store-benefits">
                            <strong class="green">G</strong>
                            그린 5% 할인<br>(런치2메뉴 제외)
                        </span>
                    </div>
                </div>
                <div class="deux">
                  <img src="/imgsrc/assets/premium/DcList_dining14.gif" alt="">
                  <div class="store-info">
                      <span class="store-name">커피라운지 55</span>
                      <span class="store-phone">02-525-7705</span>
                      <span class="store-location">서울특별시 서초구 반포대로9 호서빌딩1F</span>
                      <span class="store-benefits">
                        <strong class="gold">G</strong>
                        골드 10%
                      </span>
                    <span class="store-benefits">
                        <strong class="blue">B</strong>
                        블루 5%
                    </span>
                    <span class="store-benefits">
                        <strong class="green">G</strong>
                        그린 5% 할인
                    </span>
                  </div>
                </div>
            </div>
            </div>
            <div id="rehearsal" class="theme-detail  hidden">
                <div class="deuxMagasins fullsize">
                    <div class="un">
                        <img src="/imgsrc/assets/premium/DcList_dining21.gif" alt="">
                        <div class="store-info">
                            <span class="store-name">웬떡마을</span>
                            <span class="store-phone">02-3474-8889</span>
                            <span class="store-location">비타민스테이션에 위치</span>
                            <span class="store-benefits">
                                <strong class="gold">G</strong>
                                골드 10% 할인
                                <br>
                                (식사(죽 포함), 음료에 한함)
                            </span>
                        </div>
                    </div>
                    <div class="deux">
                      <img src="/imgsrc/assets/premium/DcList_dining2.gif" alt="">
                      <div class="store-info">
                          <span class="store-name">테라로사 커피</span>
                          <span class="store-phone">033-648-2760</span>
                          <span class="store-location">비타민스테이션에 위치</span>
                          <span class="store-benefits">
                              <strong class="gold">G</strong>
                              골드 10% 할인
                              <br>
                              (단, 일부품목 할인제외)
                          </span>
                          <span class="store-benefits">
                              <strong class="blue">B</strong>
                              블루 5% 할인
                          </span>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </section>
      </main>
    </th:block>
  </body>
</html>
