<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <th:block th:insert="/fragments/global::head-links" />
    <link rel="stylesheet" href="/styles/pages/sacnews/new.css" />
    <link rel="stylesheet" href="/styles/global/summernote-lite.css" />
    <script src="/javascript/sacnews/newPost.js"></script>
    <script src="/javascript/summernote/summernote-lite.js"></script>
    <script src="/javascript/summernote/summernote-ko-KR.js"></script>
    <title>Document</title>
  </head>
  <body>
    <th:block th:insert="~{/fragments/global::global(~{this::main})}">
      <main sec:authorize="hasRole('ADMIN')">
        <section class="pageContents">
          <div class="pageTitle">
            <p>[ADMIN] 공지사항 작성</p>
          </div>
          <div class="maincontents">
            <form
              th:action="@{/admin/sacnews/notice/post}"
              id="newPost"
              method="post"
              enctype="multipart/form-data"
            >
              <!-- beginning of new post Form #############################################-->
                <div class="postSetting">
                    <select name="category" id="categorySelector">
                        <option selected>카테고리 선택</option>
                        <option value="안내">안내</option>
                        <option value="회원">회원</option>
                        <option value="대관">대관</option>
                        <option value="아카데미">아카데미</option>
                        <option value="모집">모집</option>
                        <option value="발표">발표</option>
                    </select>
                    <select name="important" id="isPublicSelector">
                        <option selected>중요도</option>
                        <option value="y">중요</option>
                        <option value="n">일반</option>
                    </select>
              <!-- select category and publicity above ####################################-->
                    <input type="text" name="title" class="titleInput" id="title" placeholder="공지사항 제목">
              <!-- Title above ##########################################-->
                    <span class="dateIns">효력시작일</span><input type="date" name="effectiveDateB" class="dateData" id="startDate">
                    <span class="dateIns">효력종료일</span><input type="date" name="effectiveDateE" class="dateData" id="startDate" style="border:none">
              <!-- effective period above ##########################################-->
                </div>
                <textarea id="summernote" name="content"></textarea>
              <!-- Content(including image file) above ##########################################-->
                <div class="submitLine">
                  <input id="attach" multiple="multiple" type="file" name="attach">
              <!-- Attachment above ##########################################-->
                  <div class="drafterNbutton">
                    <span >작성자 : <span name="publisher" sec:authentication="principal.username"></span></span>
                    <button type="submit">등록</button>
                    <button onclick="location.href='/sacnews/notice'" type="button">취소</button>
                  </div>
              <!-- attachment, drafter, post button above ################################################ -->
                </div>
            </form>
          </div>
        </section>
      </main>
    </th:block>
  </body>
</html>
