.outerBox *,
.benefitOfMembership * {
  color: #414141;
}

.outerBox {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.boxname {
  font-size: 24px;
  color: #333333;
  font-weight: 500;
  margin: 2rem 0 1.5rem 0;
}

.idOrpw {
  width: 100%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}

.half {
  display: inline-flex;
  width: 49%;
  text-align: center;
  justify-content: center;
  padding: 1.5rem;
}

.current {
  border: 1px solid #222;
  color: #222;
  font-weight: bold;
}

.nonclicked {
  border: 1px solid #e5e5e5;
  color: #8b8b8b;
}

.chooseCertificationMethod {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  padding: 3%;
}

.chooseCertificationMethod .block {
  display: block;
}

.chooseCertificationMethod .title {
  font-size: 24px;
  color: #333333;
  font-weight: 500;
  margin-bottom: 1rem;
}

.quinze {
  font-size: 15px;
}

.detail2 {
  color: #d81e34 !important;
}

.detail3 {
  color: #8b8b8b !important;
}

.methods {
  display: flex;
  justify-content: center;
  margin: 3% 0;
}

.inflex {
  display: inline-flex;
  width: 25%;
  justify-content: center;
  margin: 0 0.5rem;
  padding: 0.5rem 0;
}

.portable {
  color: #fff;
  font-size: 15px;
  background: #ed1839;
}

.i-pin {
  border: 1px solid #41414c;
}

.benefitOfMembership {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  padding-left: 45%;
  padding-right: 5%;
  padding-top: 5%;
  background: url("/imgsrc/assets/login/findId-Pw-txt-tit.png") no-repeat left
    center;
  background-size: auto 100%;
  height: 350px;
  background-color: #d9dbdf;
}

.benefitOfMembership .title {
  color: #1d2335;
  font-size: 49px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.benefitOfMembership .subscript {
  color: #41414c;
  font-size: 17px;
  margin-bottom: 1rem;
}

.benefitOfMembership .clickfordetail {
  display: inline-flex;
  width: 40%;
  height: 40%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  border: 1px solid #41414c;
}

.idbox {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.idtofindPw {
  width: 51.5%;
  padding: 1rem 0.5rem;
  border: 1px solid #c1c1c1;
  font-size: 15px;
  color: #555;
}
