.pageContents * {
  color: #555;
}

main > .themeArea {
  background: url("/imgsrc/member-back.jpg") no-repeat;
}

.welcomePremium {
  width: 100%;
  border: 1px solid #e6e6e6;
  margin-bottom: 5%;
  background: url("/imgsrc/assets/join/title_box27.gif") no-repeat left 40px
    center;
  background-size: 170px 115px !important;
}

.welcomePremium > .textbox {
  width: 100%;
  height: 100%;
  padding: 5% 5% 5% 250px;
  font-size: 15px;
}

.welcometitle {
  font-size: 18px;
  margin-bottom: 1rem;
}

.benefitsNaffiliates {
  display: flex;
  justify-content: center;
}

.half {
  width: 51%;
}

.inflex {
  display: inline-flex;
  padding: 1.75rem 0;
  justify-content: center;
}

.current {
  border: 1px solid #222;
  color: #222;
  font-weight: bold;
}

.nonclicked {
  border: 1px solid #e5e5e5;
  color: #8b8b8b;
}

.startingText {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

.startingText .title {
  color: #222;
  font-size: 35px;
  margin-bottom: 1rem;
}

.startingText .subscript {
  color: #878787;
  font-size: 17px;
}

.startingText .showbenefitofthismonth {
  margin-top: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 3rem;
  border: 1px solid #ed1a3b;
  color: #ed1a3b;
}

.chooseTheme {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 4% 0 2% 0;
  height: 2.5rem;
}

.chooseTheme .vingt {
  width: 18%;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chooseTheme .theme-selected {
  background: #fff;
  border: 1px solid #222;
  border-bottom: 1px solid #fff;
  color: #222;
}

.chooseTheme .theme-non {
  background: #f2f2f2;
  border: 1px solid #d9d9d9;
  color: #777;
}

.theme-detail {
  display: flex;
  justify-content: space-between;
}

.theme-detail > ul {
  width: 70%;
}

.theme-detail > ul > li {
  display: flex;
  flex-direction: column;
}

.theme-detail > ul > li .listTitle {
  color: #231f20;
  font-size: 24px;
  font-weight: 500;
  margin: 2% 0;
  display: flex;
  align-items: center;
}

.theme-detail > ul > li .listText {
  color: #555;
  font-size: 17px;
  margin: 1% 0;
  word-break: keep-all;
}

.hidden {
  visibility: hidden;
  height: 0;
}

li.dot_list {
  list-style: disc;
  margin-left: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.listTitle > a {
  font-size: 16px;
  height: 2rem;
  border: 1px solid #ed1739;
  color: #ed1739;
  border-radius: 5px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

li > div > .abutton {
  color: #ed1a3b;
  border: 1px solid #ed1a3b;
  font-size: 15px;
  padding: 1rem;
  display: inline-block;
  margin-top: 2rem;
}

div.deuxMagasins {
  display: flex;
  border-bottom: 1px solid #d6d6d6;
  padding: 2% 0;
}

div.deuxMagasins > div {
  width: 50%;
  height: auto;
  display: flex;
}

div.deuxMagasins > div > img {
  width: 50%;
  height: auto;
}

.fullsize {
  width: 100%;
}

div.deuxMagasins > div > .store-info {
  display: flex;
  flex-direction: column;
}

div.deuxMagasins > div > .store-info span {
  padding-left: 1rem;
  padding-right: 0.5rem;
  word-break: break-all;
}

.store-name {
  font-size: 30px;
  font-weight: 400;
  color: #231f20;
  margin-bottom: 1rem;
}

.store-phone {
  font-size: 24px;
  color: #231f20;
  margin-bottom: 0.75rem;
}

.store-location {
  font-size: 17px;
  color: #231f20;
  margin-bottom: 1.5rem;
}

.store-benefits {
  display: flex;
  font-size: 17px;
  color: #231f20;
  margin-bottom: 0.25rem;
  flex-wrap: wrap;
  word-break: break-all;
}

.store-benefits strong {
  margin-right: 0.5rem;
  width: 1.875rem;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-weight: 600;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  font-size: 17px;
}

.store-benefits strong.gold {
  background: #f6b506;
}

.store-benefits strong.blue {
  background: #1f83e1;
}

.store-benefits strong.green {
  background: #28a663;
}

.maincontents > .magasins {
  display: flex;
  flex-direction: column;
}
