main > .themeArea {
  background: url("/imgsrc/member-back.jpg") no-repeat;
}

.maincontents * {
  color: black;
}

.maincontents > .outerBox {
  margin: 3%;
  border: 1px solid #484848;
  display: flex;
  padding: 5% 0;
}

.maincontents > .outerBox > div {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.outerBox > .loginWelcome {
  display: flex;
  flex-direction: column;
}

.outerBox > .loginForm > form {
  width: 100%;
}

.outerBox .loginForm .logForm {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 7.5% 0 5% 0;
}

.outerBox .loginForm .logForm > .inputs {
  width: 78%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.outerBox .loginForm .logForm > .inputs input {
  height: 50px;
  padding: 0 1rem;
  border: 1px solid #d3d3d3;
}

.outerBox .loginForm .logForm > .loginBtn {
  width: 20%;
  background: #ed1839;
  color: #fff;
  font-size: 18px;
  height: 110px;
  border: none;
}

.outerBox .loginForm .actions {
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

.outerBox .loginForm .actions .findorjoin {
  display: flex;
  font-size: 15px;
  color: #555;
}

.outerBox .loginForm .actions .findorjoin a {
  margin: 0 0.5rem;
}

.outerBox .socialLogins a {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  color: #fff;
}

.outerBox .socialLogins a img {
  margin-right: 1rem;
}

.outerBox .socialLogins a.naverLogin {
  background: #03c75a;
}

.outerBox .socialLogins a.kakaoLogin {
  background: #ffde03;
}

.outerBox .socialLogins a.fbLogin {
  background: #3c5a9a;
}

.outerBox .socialLogins .otherActions {
  width: 100%;
  background: #fafafa;
  border: 1px solid #dfdfdf;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.outerBox .socialLogins .otherActions > li {
  display: flex;
  font-size: 14px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.outerBox .socialLogins .otherActions > li.nonMembers {
  margin-top: 1rem;
}

.otherActions .isMember {
  width: 20%;
  font-weight: 500;
}

.otherActions .explanation {
  width: 75%;
}
.explanation > img {
  margin: 0 5px;
}

.socialLogins > * {
  margin: 1% 0;
}

.socialLogins > .topText {
  font-size: 24px;
}

.socialLogins > .secondText {
  font-size: 15px;
  margin-bottom: 0.5%;
}

.maincontents .premiumPpomppu {
  margin: 3%;
  padding: 5% 0 0 0;
  text-align: center;
}

.premiumPpomppu .appealTable {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
}

.premiumPpomppu .largeText {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 1%;
}

.premiumPpomppu .smallText {
  font-size: 15px;
  margin-bottom: 1%;
}

.quatre {
  margin: 5% 0;
  width: 25%;
  border-right: 1px solid #d5d5d5;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 16px;
}

.quatre a {
  margin-top: 3%;
  font-size: 15px;
  background: #fff;
  padding: 5px 15px;
  border: 1px solid #424242;
  font-weight: 400;
}
