main > .themeArea {
  background: url("/imgsrc/member-back.jpg") no-repeat;
}

.maincontents * {
  color: #555;
}

.overview {
  width: 100%;
  margin: 0 auto;
  background: #f2f2f2;
  padding: 40px 40px 80px 40px;
}

.overview .basicInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.overview .basicInfo > div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.blue-coloured {
  color: #273ac7;
}

.basicInfo img {
  width: 20px;
  height: 20px;
}

.nameBox .idNname {
  margin-left: 5%;
}

.editButtonBox > .flex {
  display: flex;
}

.editButtonBox > .types {
  margin-left: 5%;
  width: 60%;
}

.editButtonBox > .types > span {
  display: flex;
  align-items: center;
}

.editButtonBox > .editButton {
  display: flex;
  text-align: center;
  align-items: center;
  color: #555;
  height: 2rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  background-color: #fff;
  border: 1px solid #555;
}

.editButtonBox > .types > span .principalD {
  margin-left: 5%;
}

.overview .basicInfo .renew-membership {
  width: 100%;
  display: flex;
  justify-content: right;
}

.renew-membership > .red-button {
  display: flex;
  align-items: center;
  color: #fff;
  height: 2rem;
  padding: 0.25rem 1rem;
}

.divisionBtns {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

.divisionBtn {
  width: 14%;
}

.divisionBtn > button {
  width: 100%;
  padding: 1rem 0;
  font-size: 15px;
  color: #8b8b8b;
  border: 1px solid #e5e5e5;
  background-color: unset;
  cursor: pointer;
}

.divisionBtn > button.selected {
  color: #555;
  border: 1px solid #555;
}

.contentArea > h3.microTitle {
  font-size: 24px;
  color: #333333;
  font-weight: 500;
}

.contentArea > h3.microTitle::after {
  content: "";
  display: inline-block;
  height: 7px;
  width: 40px;
  background: #ed1839;
  top: -25px;
  left: -145px;
  position: relative;
}

.contentArea > .overview {
  margin-top: 2%;
  display: flex;
  align-items: center;
  padding: 40px 40px 40px 40px;
  justify-content: space-between;
  height: 20vh;
}

.contentArea > .overview > div,
.contentArea > .overview > form {
  width: 50%;
  height: 100%;
}

.contentArea > .overview .dataArea {
  width: 100%;
  height: 100%;
}

.contentArea > .overview > .inst {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inst > .innerTitle {
  font-size: 20px;
  color: #333333;
  font-weight: 500;
}

.inst > .innerText {
  font-size: 15px;
  color: #484848;
}

.contentArea > .overview > form,
.dataArea {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.dataArea > .checkInput {
  width: 70%;
  padding: 0.5rem;
  height: 2.5rem;
}

.dataArea > .checkMe {
  width: 20%;
  height: 2.5rem;
  margin-left: 3%;
  color: #fff;
  font-size: 15px;
  background: #ed1839;
  border: none;
  cursor: pointer;
}
