<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <th:block th:fragment="head-links">
      <meta charset="UTF-8" />
      <link rel="stylesheet" href="/styles/global/global.css" />
      <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      ></script>
      <script src="/javascript/global.js"></script>
      <script
        src="https://kit.fontawesome.com/b54dc124b3.js"
        crossorigin="anonymous"
      ></script>
    </th:block>
    <title>fragments</title>
  </head>
  <body>
    <th:block th:fragment="global(main)">
      <header>
        <div class="maxsizecontroller">
          <section class="stillMenu">
            <div
              style="width: 40%; position: relative; text-align: left"
              class="hamburger"
            >
              <button
                class="iconLink"
                id="menuBtn"
                onclick="showToggleMenu()"
                type="button"
              >
                <img src="/imgsrc/assets/menu-btn.gif" alt="" />
              </button>

              <button
                class="iconLink hidden"
                onclick="hideToggleMenu()"
                id="menuBtn2"
                type="button"
              >
                <div
                  style="
                    display: flex;
                    align-items: center;
                    width: 10rem;
                    height: 30px;
                  "
                >
                  <img src="/imgsrc/assets/close-btn.png" alt="" />
                  <span style="font-size: 1.5rem; margin-left: 0.5rem"
                    >닫기</span
                  >
                </div>
              </button>
            </div>
            <div style="width: 20%" class="toplogo">
              <a href="/"
                ><img src="/imgsrc/logo.png" width="150px" alt="SAC LOGO"
              /></a>
            </div>
            <div style="width: 40%; justify-content: flex-end" class="actions">
              <div class="member">
                <ul>
                  <!-- when user not loged in -->
                  <li sec:authorize="isAnonymous()" class="loginBtn">
                    <a href="/member/signin">로그인</a>
                  </li>
                  <li sec:authorize="isAnonymous()" class="joinBtn">
                    <a href="/member/signup">회원가입</a>
                  </li>

                  <!-- when user loged in -->
                  <li sec:authorize="isAuthenticated()" class="logoutBtn">
                    <a href="/member/logout">로그아웃</a>
                  </li>
                  <!-- when user loged in (and user is not an administrator) -->
                  <li sec:authorize="hasRole('USER')" class="mypageBtn">
                    <a href="/member/mypage/myTicket">마이페이지</a>
                  </li>
                  <!-- when loged in as an administrator -->
                  <li sec:authorize="hasRole('ADMIN')" class="adminBtn">
                    <a href="/admin/main">관리자</a>
                  </li>
                </ul>
              </div>
              <div class="site">
                <ul>
                  <li>
                    <select name="lang" id="lang">
                      <option selected value="kor">KOR</option>
                      <option value="eng">ENG</option>
                    </select>
                  </li>
                  <li>
                    <a href="" class="search"><i class="fas fa-search"></i></a>
                  </li>
                  <li>
                    <a href="" class="calendar"
                      ><i class="far fa-calendar-alt"></i
                    ></a>
                  </li>
                  <li>
                    <a href="/sitemap" class="map"
                      ><i class="fas fa-bars"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <section id="toggleMenu" class="hidden toggleMenu">
            <ul>
              <li>
                <a href="#"><span>공연·전시</span></a>
                <ul class="toggle_micro">
                  <li>
                    <a href="#">전체일정(달력)</a>
                  </li>
                  <li>
                    <a href="#">오늘의 공연·전시</a>
                  </li>
                  <li>
                    <a href="/show/show_list">진행/예정 프로그램</a>
                  </li>
                  <li>
                    <a href="#">SAC기획 공연·전시</a>
                  </li>
                  <li>
                    <a href="#">패키지</a>
                  </li>
                  <li>
                    <a href="#">티켓오픈공지</a>
                  </li>
                  <li>
                    <a href="#">싹(SAC)딜</a>
                  </li>
                  <li>
                    <a href="#">당일할인티켓</a>
                  </li>
                  <li>
                    <a href="#">예매·취소 안내</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#"><span>공관·대관</span></a>
                <ul class="toggle_micro">
                  <li>
                    <a href="#">공간소개</a>
                  </li>
                  <li>
                    <a href="#">공간별 대관안내</a>
                  </li>
                  <li>
                    <a href="#">입장권 운영안내</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#"><span>아카데미</span></a>
                <ul class="toggle_micro">
                  <li>
                    <a href="#">아카데미 안내</a>
                  </li>
                  <li>
                    <a href="#">수강신청</a>
                  </li>
                  <li>
                    <a href="#">아카데미 공지사항</a>
                  </li>
                  <li>
                    <a href="#">아카데미 FAQ</a>
                  </li>
                  <li>
                    <a href="#">오디션신청</a>
                  </li>
                  <li>
                    <a href="#">나의강좌</a>
                  </li>
                  <li>
                    <a href="#">온라인 사군자</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#"><span>소식·이용·참여</span></a>
                <ul class="toggle_micro">
                  <li>
                    <a href="/sacnews/notice">전당소식</a>
                  </li>
                  <li>
                    <a href="#">오시는 길·주차안내</a>
                  </li>
                  <li>
                    <a href="#">편의서비스</a>
                  </li>
                  <li>
                    <a href="#">입점매장</a>
                  </li>
                  <li>
                    <a href="#">고객센터</a>
                  </li>
                  <li>
                    <a href="#">이벤트</a>
                  </li>
                  <li>
                    <a href="#">세계음악분수(선곡표)</a>
                  </li>
                  <li>
                    <a href="#">관람평</a>
                  </li>
                  <li>
                    <a href="#">관람예절</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#"><span>회원서비스</span></a>
                <ul class="toggle_micro">
                  <li>
                    <a href="/member/signup">회원가입</a>
                  </li>
                  <li>
                    <a href="/member/signin">로그인</a>
                  </li>
                  <li>
                    <a href="/member/find-id">아이디 찾기</a>
                  </li>
                  <li>
                    <a href="/member/find-pw">패스워드 찾기</a>
                  </li>
                  <li>
                    <a href="/member/premium/benefits">유료회원 혜택안내</a>
                  </li>
                </ul>
              </li>
              <li style="border-right: none">
                <a href="#"><span>기관소개</span></a>
                <ul class="toggle_micro">
                  <li>
                    <a href="#">기관소개 메인</a>
                  </li>
                  <li>
                    <a href="#">예술의전당 소개</a>
                  </li>
                  <li>
                    <a href="#">특별사업</a>
                  </li>
                  <li>
                    <a href="#">정보공개</a>
                  </li>
                  <li>
                    <a href="#">후원하기</a>
                  </li>
                </ul>
              </li>
            </ul>
          </section>
        </div>
      </header>
      <th:block th:replace="${main}"></th:block>
      <footer>
        <nav class="top">
          <div class="footer-top">
            <div class="box1">
              <ul>
                <li style="padding-left: 0"><a href="#">사이트맵</a></li>
                <li><a href="#">오시는 길·주차안내</a></li>
                <li><a href="#">정보공개</a></li>
                <li><a href="#">이용약관·정책</a></li>
                <li><a href="#">개인정보처리방침</a></li>
                <li style="border: none">
                  <a href="#"
                    ><img src="/imgsrc/nbns1_1.gif" width="100px" alt=""
                  /></a>
                </li>
              </ul>
            </div>
            <div class="box2">
              <ul>
                <li>
                  <a href="#">
                    <img src="/imgsrc/footer-icon01.gif" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/imgsrc/footer-icon02.gif" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/imgsrc/footer-icon03.gif" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/imgsrc/footer-icon04.gif" alt="BLOG" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/imgsrc/footer-icon05.gif" alt="POST" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/imgsrc/footer-icon06.gif" alt="PLAY" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/imgsrc/footer-icon07.gif" alt="" />
                  </a>
                </li>
                <li style="margin-right: 0">
                  <img src="/imgsrc/footer-icon08.gif" alt="CAST" />
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <nav class="floor">
          <div class="footer-floor">
            <div class="logo-noir">
              <a href="/"><img src="/imgsrc/footer-logo-img01.gif" alt="" /></a>
            </div>
            <div class="address">
              <p class="addr">
                (우) 06757 서울시 서초구 남부순환로 2406 예술의전당
              </p>
              <p class="copyright">
                copyrightⓒ2020 Seoul Arts Center. All rights Reserved.
              </p>
            </div>
            <div class="registration">
              <p><b>대표자 </b>유인택</p>
              <p><b>사업자등록번호 </b>214-82-00264</p>
              <p><b>통신판매업신고 </b>서초 제 0706호</p>
            </div>
            <div class="cs">
              <b>고객센터</b>
              <p>02-580-1300 (월:09:00~18:00/화-일:09:00~20:00)</p>
            </div>
          </div>
          <button id="to-Top-Btn" type="button"><img src="/imgsrc/top_btn.png" alt=""></button>
          <script type="text/javascript">
            $("#to-Top-Btn").click(function () {
              window.scrollTo({ top: 0, behavior: "smooth" });
            });
          </script>
        </nav>
      </footer>
    </th:block>
  </body>
</html>
