<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <th:block th:insert="/fragments/global::head-links" />
    <link rel="stylesheet" href="/styles/pages/index.css" />
    <script as="script" src="/javascript/show/indexLoad.js"></script>
    <title>Document</title>
  </head>
  <body>
    <th:block th:insert="~{/fragments/global::global(~{this::main})}">
      <main>
        <section class="rotatingMain flex">
          <div class="quickMenu flex-column">
            <button type="button">오늘의 공연·전시</button>
            <button type="button">전체일정(달력)</button>
            <button type="button">이벤트</button>
          </div>
          <div class="flex-column">
            <div class="briefInfo">
              <div th:each="a : ${rotateList}">
                <span class="eventCaption" th:if="${a.venue2}=='콘서트홀'"
                  >음악</span
                >
                <span class="venue">[[${a.venue2}]]</span>
                <span class="title">[[${a.eventTitle}]]</span>
                <span class="eDate" th:if="${a.openDate}"
                  >[[${a.openDate}]] ~ [[${a.finDate}]]</span
                >
                <span class="eDate" th:if="${#lists.size(a.eventTime) > 0}">
                  <span th:each="b : ${a.eventTime}">
                    [[${#strings.substring(b,0,10)}]]
                    [[${#strings.substring(b,11,16)}]]
                  </span>
                </span>
                <button class="toDetailBtn" type="button">자세히보기</button>
              </div>
            </div>
            <div class="flex">
              <button type="button" class="rotateLeft"><-</button>
              <div class="posterBox">
                <ul th:if="${rotateList}" class="flex rotateList">
                  <li th:each="a : ${rotateList}" class="eachImage">
                    <img
                      th:unless="${a.poster}"
                      src="/imgsrc/noImage300x300.png"
                      style="width: 75px; height: 110px; margin: 0 10px"
                      alt="POSTER"
                    />
                    <img
                      th:if="${a.poster}"
                      th:src="${a.poster.filePath} + ${a.poster.fileName}"
                      style="width: 75px; height: 110px; margin: 0 10px"
                      alt="poster"
                    />
                  </li>
                </ul>
              </div>
              <button type="button" class="rotateRight">-></button>
            </div>
          </div>
          <script src="/javascript/show/indexRotatingArea.js"></script>
          <div class="Poster"></div>
        </section>
        <section class="rotatingWithLecture">
          <h1>Rotating with Lecture Area</h1>
        </section>
        <section class="noticeAndTicketAndYoutube">
          <h1>Notice/Ticket And Notice/Youtube</h1>
        </section>
      </main>
    </th:block>
  </body>
</html>
