<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <th:block th:insert="/fragments/global::head-links" />
    <link rel="stylesheet" href="/styles/pages/show/detail.css" />
    <title>Document</title>
    <script src="/javascript/show/edit.js"></script>
  </head>
  <body>
    <th:block th:insert="~{/fragments/global::global(~{this::main})}">
      <main>
        <section class="themeArea">
          <div class="basicInfoArea">
            <!-- 행사정보 ######################################### -->
            <div class="InfoArea">
                <table style="display:flex;justify-content: left; width : 100%;">
                    <thead>
                        <td  th:if="${event.sacPlanned}">
                            <button class="likeBtn" type="button">찜하기</button> 
                            <span class="planner"th:unless="${event.sacPlanned} eq 'n'">
                                SAC기획
                            </span>
                        </td>
                        <tr>
                            <td class="eventTitle">[[${event.eventTitle}]]</td>
                        </tr>
                    </thead>
                </table>
              <table style="font-size : 14px;">
                <tbody>
                  <tr class="tableL" th:unless="${event.openDate} eq null">
                    <td class="col1">기간</td>
                    <td class="col2">
                      [[${event.openDate}]] ~ [[${event.finDate}]]
                    </td>
                  </tr>
                  <tr class="tableL" th:if="${#lists.size(event.eventTime) > 0}">
                    <td class="col1">시간</td>
                    <td class="col2">
                      <span  th:each="a : ${event.eventTime}">
                        [[${#strings.substring(a,0,10)}]] [[${#strings.substring(a,11,16)}]] / 
                      </span>
                    </td>
                    <td class="col2" th:if="${event.openTime}">
                        [[${event.openTime}]] ~ [[${event.closeTime}]] (※매주 월요일 휴관)
                    </td>
                  </tr>
                  <tr class="tableL" th:unless="${event.lastEntrance} eq ''">
                    <td class="col1">입장마감</td>
                    <td class="col2">
                      [[${event.lastEntrance}]]
                    </td>
                  </tr>
                  <tr class="tableL">
                    <td class="col1">장소</td>
                    <td class="col2">
                      <span>
                        [[${event.venue1}]] [[${event.venue2}]]
                        [[${event.venue3}]]
                      </span>
                    </td>
                  </tr>
                  <tr class="tableL" th:if="${event.requiredAge}">
                    <td class="col1">입장연령</td>
                    <td class="col2">
                      <span>[[${event.requiredAge}]]</span>
                    </td>
                  </tr>
                  <tr class="tableL" th:if="${event.runningTime} ne '0'">
                    <td class="col1" style="font-size:12px">관람시간(분)</td>
                    <td class="col2">[[${event.runningTime}]]</td>
                  </tr>
                  <tr class="tableL" th:if="${event.pricingPolicy}">
                    <td class="col1">가격</td>
                    <td class="col2">
                      <span th:each="a : ${event.pricingPolicy}">
                        [[${a.subject}]] [[${a.price}]]원 /
                      </span>
                    </td>
                  </tr>
                  <tr class="tableL" th:if="${event.organizer}">
                    <td class="col1">주최</td>
                    <td class="col2">
                      <span th:each="a : ${event.organizer}"> [[${a}]], </span>
                    </td>
                  </tr>
                  <tr class="tableL" th:if="${event.host}">
                    <td class="col1">주관</td>
                    <td class="col2">
                      <span th:each="a : ${event.host}"> [[${a}]], </span>
                    </td>
                  </tr>
                  <tr class="tableL" th:if="${event.sponsor}">
                    <td class="col1">후원</td>
                    <td class="col2">
                      <span th:each="a : ${event.sponsor}"> [[${a}]], </span>
                    </td>
                  </tr>
                  <tr class="tableL" th:if="${event.contact}">
                    <td class="col1" style="border-bottom : 1px solid #2e2e2e">문의</td>
                    <td class="col2">
                      <span> [[${event.contact}]] </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="PosterArea">
              <!-- onsale여부, default poster, poster -->
              <img th:unless="${event.poster}" src="/imgsrc/noImage300x300.png" style="width:220px" alt="">
              <img th:if="${event.poster}" th:src="${event.poster.filePath} + ${event.poster.fileName}" style="width:220px" alt="">
              <button type="button" style="cursor : unset" th:if="${event.onSale} eq o">예매</button>
              <button type="button" style="cursor : unset" th:if="${event.onSale} eq s">현장예매</button>
              <button type="button" style="cursor : unset" th:if="${event.onSale} eq p">예정</button>
              <button type="button" style="cursor : unset" th:if="${event.onSale} eq c">종료</button>
              <button type="button" style="cursor : unset" th:if="${event.onSale} eq i">초대행사</button>
            </div>
            <!-- ######################################### 행사정보 끝 -->
          </div>
        </section>
        <section class="navigator">
          <div class="navsizebox">
            <div class="navigate">
              <a class="navHome" href="/"
                ><img src="/imgsrc/assets/cwac-menu_icon01.png" alt=""
              /></a>
              <a class="navSelect" href="#">공연·전시</a>
              <a class="navSelect" href="#">진행/예정 프로그램</a>
            </div>
            <div class="actions">
              <a class="printicon" href="#"
                ><img src="/imgsrc/assets/cwac-menu_icon03.png" alt=""
              /></a>
              <a class="shareicon" href="#"
                ><img src="/imgsrc/assets/cwac-menu_icon04.png" alt=""
              /></a>
            </div>
          </div>
        </section>
        <section class="pageContents">
          <div class="pageTitle">
            <p>진행/예정 프로그램</p>
          </div>
          <div class="maincontents">
            <!--  ############################################################## -->
            <div th:if="${event.detail_img}">
                <img th:each="a : ${event.detail_img}" th:src="${a.filePath} + ${a.fileName}" style="width : 100%" alt="">
            </div>
            <!--  ############################################################## -->
            <div class="controlBtns">
              <form sec:authorize="hasRole('ADMIN')" th:action="@{|/admin/show/manage|}" method="post">
                <input type="hidden" name="_method" value="PUT"/>
                <input type="text" th:value="${event.id}" name="evid" hidden>
                <button type="submit" class="red-font red-border">수정</button>
              </form>
              <form sec:authorize="hasRole('ADMIN')" th:action="@{|/admin/show/manage|}" id="delForm" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <input type="text" th:value="${event.id}" name="evid" hidden>
                <button type="button" onclick="doubleCheckDelete()" class="red-font red-border">삭제</button>
              </form>
              <button onclick="location.href='/show'" class="red-font red-border">목록으로</button>
            </div>
          </div>
        </section>
      </main>
    </th:block>
  </body>
</html>
