<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <th:block th:insert="/fragments/global::head-links" />
    <link rel="stylesheet" href="/styles/pages/show/detail.css" />
    <title>Document</title>
    <script src="/javascript/show/edit.js"></script>
    <script src="/javascript/show/detail.js"></script>
  </head>
  <body>
    <th:block th:insert="~{/fragments/global::global(~{this::main})}">
      <main>
        <section class="themeArea">
          <div class="basicInfoArea">
            <!-- 행사정보 ######################################### -->
            <div class="InfoArea">
                <table style="display:flex;justify-content: left; width : 100%;">
                    <thead>
                        <td class="flex" th:if="${event.sacPlanned}">
                            <button class="likeBtn" type="button"><img src="/imgsrc/assets/cwa-top_star.png" alt=""> 찜하기</button> 
                            <p class="planner"th:if="${event.sacPlanned} == 'y'">
                                SAC기획
                            </p>
                            <p class="planner"th:if="${event.sacPlanned} == 'c'">
                              공동주최
                            </p>
                        </td>
                        <tr>
                            <td class="eventTitle">[[${event.eventTitle}]]</td>
                        </tr>
                    </thead>
                </table>
              <table style="font-size : 14px;">
                <tbody>
                  <tr class="tableL" th:unless="${event.openDate} eq null">
                    <td class="col1">기간</td>
                    <td class="col2">
                      [[${event.openDate}]] ~ [[${event.finDate}]]
                    </td>
                  </tr>
                  <tr class="tableL" th:if="${#lists.size(event.eventTime) > 0}">
                    <td class="col1">시간</td>
                    <td class="col2">
                      <span  th:each="a : ${event.eventTime}">
                        [[${#strings.substring(a,0,10)}]] [[${#strings.substring(a,11,16)}]] / 
                      </span>
                    </td>
                    <td class="col2" th:if="${event.openTime}">
                        [[${event.openTime}]] ~ [[${event.closeTime}]] (※매주 월요일 휴관)
                    </td>
                  </tr>
                  <tr class="tableL" th:unless="${event.lastEntrance} eq ''">
                    <td class="col1">입장마감</td>
                    <td class="col2">
                      [[${event.lastEntrance}]]
                    </td>
                  </tr>
                  <tr class="tableL">
                    <td class="col1">장소</td>
                    <td class="col2">
                      <span>
                        [[${event.venue1}]] [[${event.venue2}]]
                        [[${event.venue3}]]
                      </span>
                    </td>
                  </tr>
                  <tr class="tableL" th:if="${event.requiredAge}">
                    <td class="col1">입장연령</td>
                    <td class="col2">
                      <span>[[${event.requiredAge}]]</span>
                    </td>
                  </tr>
                  <tr class="tableL" th:if="${event.runningTime} ne '0'">
                    <td class="col1" style="font-size:12px">관람시간(분)</td>
                    <td class="col2">[[${event.runningTime}]]</td>
                  </tr>
                  <tr class="tableL" th:if="${event.pricingPolicy}">
                    <td class="col1">가격</td>
                    <td class="col2">
                      <span th:each="a : ${event.pricingPolicy}">
                        [[${a.subject}]] [[${a.price}]]원 /
                      </span>
                    </td>
                  </tr>
                  <tr class="tableL" th:if="${not #lists.isEmpty(event.organizer)}">
                    <td class="col1">주최</td>
                    <td class="col2">
                      <span th:each="a : ${event.organizer}"> [[${a}]], </span>
                    </td>
                  </tr>
                  <tr class="tableL" th:if="${not #lists.isEmpty(event.host)}">
                    <td class="col1">주관</td>
                    <td class="col2">
                      <span th:each="a : ${event.host}"> [[${a}]], </span>
                    </td>
                  </tr>
                  <tr class="tableL" th:if="${not #lists.isEmpty(event.sponsor)}">
                    <td class="col1">후원</td>
                    <td class="col2">
                      <span th:each="a : ${event.sponsor}"> [[${a}]], </span>
                    </td>
                  </tr>
                  <tr class="tableL" th:if="${event.contact}">
                    <td class="col1" style="border-bottom : 1px solid #2e2e2e">문의</td>
                    <td class="col2">
                      <span> [[${event.contact}]] </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="PosterArea">
              <!-- onsale여부, default poster, poster -->
              <img th:unless="${event.poster}" src="/imgsrc/noImage300x300.png" style="width:220px" alt="">
              <img th:if="${event.poster}" th:src="${event.poster.filePath} + ${event.poster.fileName}" style="width:220px" alt="">
              <button type="button" style="cursor : unset" th:if="${event.onSale} eq o">예매</button>
              <button type="button" style="cursor : unset" th:if="${event.onSale} eq s">현장예매</button>
              <button type="button" style="cursor : unset" th:if="${event.onSale} eq p">예정</button>
              <button type="button" style="cursor : unset" th:if="${event.onSale} eq c">종료</button>
              <button type="button" style="cursor : unset" th:if="${event.onSale} eq i">초대행사</button>
            </div>
            <!-- ######################################### 행사정보 끝 -->
          </div>
        </section>
        <section class="navigator">
          <div class="navsizebox">
            <div class="navigate">
              <a class="navHome" href="/"
                ><img src="/imgsrc/assets/cwac-menu_icon01.png" alt=""
              /></a>
              <a class="navSelect" href="#">공연·전시</a>
              <a class="navSelect" href="#">진행/예정 프로그램</a>
            </div>
            <div class="actions">
              <a class="printicon" href="#"
                ><img src="/imgsrc/assets/cwac-menu_icon03.png" alt=""
              /></a>
              <a class="shareicon" href="#"
                ><img src="/imgsrc/assets/cwac-menu_icon04.png" alt=""
              /></a>
            </div>
          </div>
        </section>
        <section class="pageContents">
          <div class="maincontents">
            <!--  ############################################################## -->
            <div class="eventInfos">
              <div class="covidAlert">
                <span class="red-font">
                  ※ 정부 방역 지침에 따라 예술의전당 이용 시, 백신 접종 여부와 관계없이 마스크 착용은 필수입니다.
                <br><br>
                  ※ 공연장/전시장/교육공간/매장 출입 시에는 <u class="red-font">전자출입명부(QR체크인)에 전자증명서(질병관리청 쿠브(COOV)앱, 네이버, 카카오, 패스 앱 등)를 스캔</u>해 주시기 바랍니다.
                </span>
              </div>
              <div class="infoSelectors">
                <button type="button" class="selected">알립니다</button>
                <button type="button">작품소개</button>
                <button type="button">할인정보</button>
                <button type="button">장소안내</button>
                <button type="button">관람평</button>
                <button type="button">예매안내</button>
              </div>
              <div class="selectedInfos">
                <div class="infoBox">
                  <span class="infoName">알립니다.</span>
                  <div class="eventNoticeBox">
                    <!-- 알립니다 -->
                  </div>
                </div>
                <div class="infoBox hidden" th:if="${event.detail_img}">
                    <div class="eventNoticeBox">
                      <!-- 작품소개 -->
                      <img th:each="a : ${event.detail_img}" th:src="${a.filePath} + ${a.fileName}" style="width : 100%" alt="">
                    </div>
                </div>
                <div class="infoBox hidden">
                  <div class="eventNoticeBox">
                    <!-- 할인정보 -->
                  </div>
                </div>
                <div class="infoBox hidden">
                  <div class="eventNoticeBox">
                    <!-- 장소안내 -->
                  </div>
                </div>
                <div class="infoBox hidden">
                  <div class="eventNoticeBox">
                    <!-- 관람평 -->
                  </div>
                </div>
                <div class="infoBox hidden">
                    <!-- 예매안내 -->
                    <div class="upperBox">
                      <div class="left">
                        <div class="first">
                          <span class="infoName">예매 및 환불·변경안내</span>
                          <ul>
                            <li>예술의전당은 8세 이상부터 공연 관람이 가능하며, 8세 미만 아동은 보호자를 동반하여도 공연장에 입장할 수 없습니다. (단, 어린이 대상 공연은 제외)</li>
                            <li>온라인(PC,모바일) 예매의 경우 1회 10매까지 구매 가능합니다.<br>반복하여 예매하기 불편하거나 단체 티켓예매를 원하시면 서비스플라자 (02-580-1300)를 이용해 주시기 바랍니다.</li>
                            <li>티켓은 유가증권이므로 분실하였을 경우 재발행 되지 않으며 환불 및 변경이 불가하오니 보관에 유의해주시기 바랍니다.</li>
                            <li>지정예매처를 통하지 않고 개인적으로 양도 양수한 티켓에 대해 예술의전당은 책임을 지지 않습니다.</li>
                            <li>공연, 전시에 따라 예매, 환불 및 환불수수료 정책이 상이할 경우 상세페이지에 별도 공지하며 해당 공지는 위 내용보다 우선합니다. 반드시 상세페이지를 확인 부탁드립니다.</li>
                          </ul>
                        </div>
                        <div class="second">
                          <span class="infoName">티켓예매 시 결제수단</span>
                          <div class="backgroundBox flex">
                            <div>
                              <span class="iconBox">
                                <img src="/imgsrc/assets/show/cwa-t-b-imglist_img01.png" alt="">
                              </span>
                              <span class="iconTitle">신용카드</span>
                              <span class="iconText"><span class="blue-font">관람당일</span>까지 사용 가능</span>
                              <ul class="infoList">
                                <li>온라인(PC/모바일) 예매</li>
                                <li>관람당일 현장매표소</li>
                                <li>서비스플라자 방문구매</li>
                              </ul>
                            </div>
                            <div>
                              <span class="iconBox">
                                <img src="/imgsrc/assets/show/cwa-t-b-imglist_img02.png" alt="">
                              </span>
                              <span class="iconTitle">무통장(가상계좌입금)</span>
                              <span class="iconText"><span class="blue-font">관람일 4일</span>까지 사용 가능</span>
                              <ul class="infoList">
                                <li>홈페이지(PC/모바일) 예매</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="third">
                          <div class="pre-notice"><span class="infoName">결제수단별 환불처리</span><span class="small red-font">※ 티켓예매시 사용한 결제수단으로만 환불됩니다.</span></div>
                          <div class="backgroundBox flex">
                            <div>
                              <span class="iconBox">
                                <img src="/imgsrc/assets/show/cwa-t-b-imglist_img01.png" alt="">
                              </span>
                              <span class="iconTitle">신용카드</span>
                              <span class="iconText"><span class="blue-font">카드사</span> 승인취소</span>
                              <ul class="infoList">
                                <li>취소요청 후 4~5일내 취소</li>
                                <li>카드사환불기준에따라다름</li>
                                <li>체크카드 동일</li>
                                <li>취소수수료는 재승인 필요</li>
                              </ul>
                            </div>
                            <div>
                              <span class="iconBox">
                                <img src="/imgsrc/assets/show/cwa-t-b-imglist_img02.png" alt="">
                              </span>
                              <span class="iconTitle">무통장(가상계좌입금)</span>
                              <span class="iconText">예매자명의 <span class="blue-font">계좌로 환급</span></span>
                              <ul class="infoList">
                                <li>취소요청 후 2일내 환급</li>
                                <li>은행 영업일 기준</li>
                                <li>실시간 계좌이체 불가</li>
                                <li>취소수수료는 제외하고 환급</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="right">
                        <div class="first">
                          <span class="infoName">환불·변경 수수료</span>
                          <table>
                            <thead>
                              <colgroup>
                                <col width="40%">
                                <col width="20%">
                                <col width="40%">
                              </colgroup>
                              <tr>
                                <th>구분</th><th>환불수수료</th><th class="col3rd">비고</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>관람일 10일 전</td><td>전액</td><td class="col3rd"></td>
                              </tr>
                              <tr>
                                <td>관람일 9일~1일 전</td><td>티켓금액의 10%</td><td class="col3rd">관람일 3일 전 예매건에 한해 예매당일 환불할 경우 별도의 수수료 없이 환불 가능 (전화 : 20:00까지 / 방문 : 화~일 20:00까지, 월 18:00까지 / 인터넷 23:59까지)</td>
                              </tr>
                              <tr>
                                <td>관람당일</td><td>티켓금액의 90%</td><td class="col3rd">공연시작 전까지</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="second">
                          <span class="infoName">예매취소 방법안내</span>
                          <div class="backgroundBox flex-column">
                            <div class="flex-column">
                              <span class="iconBox">
                                <img src="/imgsrc/assets/show/cwa-t-b-imglist_img04.png" alt="">
                              </span>
                              <span class="iconTitle">홈페이지 예매</span>
                              <ul>
                                <li>- [ 마이페이지 > 티켓예매내역 ] 에서 직접 예매내역 조회 후 취소</li>
                                <li>- 서비스플라자(02-580-1300)를 통해 예매 취소 요청</li>
                              </ul>
                            </div>
                            <div class="flex-column">
                              <span class="iconBox">
                                <img src="/imgsrc/assets/show/cwa-t-b-imglist_img05.png" alt="">
                              </span>
                              <span class="iconTitle">전화 예매</span>
                              <ul>
                                <li>[ 마이페이지 > 티켓예매내역 ] 에서 직접 취소하거나</li>
                                <li>서비스플라자(02-580-1300)를 통해 취소 요청</li>
                              </ul>
                            </div>
                            <div class="flex-column">
                              <span class="iconBox">
                                <img src="/imgsrc/assets/show/cwa-t-b-imglist_img06.png" alt="">
                              </span>
                              <span class="iconTitle">예매 후 티켓 소지하고 있는 경우(방문예매, 우편배송 등)</span>
                              <ul>
                                <li>해당공연 관람일 1일전 20시까지 비타민스테이션 서비스플라자로 직접 방문하여 티켓을 반납 하여야만 환불 및 변경 가능 (우편을 통한 환불,변경 불가)</li>
                              </ul>
                            </div>
                            <div class="furtherRefundNotice">
                              <span class="refundNoticeTitle">※ 부분취소</span>
                              <ul>
                                <li>기본적으로 부분취소 가능합니다.</li>
                                <li>단, 기프트 카드 등을 사용하여 결제한 경우에는 부분취소를 하실 수 없고, 전체취소만 가능합니다.</li>
                                <li>1+1, 3인 할인 등 특정 매수 제한이 있는 할인권종으로 예매하신 경우 부분취소를 하실 수 없고, 전체취소만 가능합니다.</li>
                                <li>예매 내역에 따라 부분 취소 가능여부가 달라지오니 서비스플라자 콜센터(02-580-1300)로 문의해 주시기 바랍니다.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="lowerBox">
                      <span class="infoName">티켓수령 안내</span>
                      <div class="backgroundBox divided flex">
                        <div class="left flex">
                          <div class="first">
                            <span class="iconBox">
                              <img src="/imgsrc/assets/show/cwa-t-b-imglist_img07.png" alt="">
                            </span>
                            <span class="iconTitle blue-font">현장매표소</span>
                            <ul class="infoList">
                              <li>공연당일 수령</li>
                              <li>공연시작 1시간 30분전부터 중간휴식시간까지</li>
                              <li>중간휴식이 없는 경우 공연시작 후 30분까지 운영</li>
                            </ul>
                          </div>
                          <div class="second">
                            <span class="iconBox">
                              <img src="/imgsrc/assets/show/cwa-t-b-imglist_img08.png" alt="">
                            </span>
                            <span class="iconTitle blue-font">서비스플라자</span>
                            <ul class="infoList">
                              <li>위치 : 비타민스테이션 내</li>
                              <li>운영시간 : 09:00~20:00, 월요일의 경우 09:00~18:00</li>
                              <li>문의 : 02-580-1300(연중무휴)</li>
                              <li>타예매처 티켓 수령불가</li>
                            </ul>
                          </div>
                          <div class="third">
                            <span class="iconBox">
                              <img src="/imgsrc/assets/show/cwa-t-b-imglist_img09.png" alt="">
                            </span>
                            <span class="iconTitle blue-font">우편 배송 신청</span>
                            <ul class="infoList">
                              <li>배송신청 : 온라인,전화예매 시 공연일 14일전까지</li>
                              <li>이용료 : 1회 배송시 3,000원 선결제</li>
                              <li>수령일 : 배송신청 후 5일 이내 수령 (영업일 기준)</li>
                            </ul>
                          </div>
                        </div>
                        <div class="right">
                            <span class="iconBox">
                              <img src="/imgsrc/assets/show/cwa-t-b-imglist_img10.png" alt="">
                            </span>
                            <span class="iconTitle blue-font">티켓수령시 유의사항</span>
                            <ul class="infoList">
                              <li>증빙이 필요한 할인(쿠폰, 장애인 및 국가유공자, 학생, 문화릴레이, 당일할인티켓 등)의 경우, 본인이 직접 증빙자료를 제시하여야 수령이 가능합니다. 제시하지 못할 경우, 할인 받은 만큼 차액을 지불하시면 관람이 가능합니다.</li>
                              <li>공연 시작 직전에는 현장매표소가 매우 혼잡하오니 되도록 공연 30분전까지 티켓을 수령 해주시기 바랍니다.</li>
                            </ul>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <!--  ############################################################## -->
            <div class="controlBtns">
              <form sec:authorize="hasRole('ADMIN')" th:action="@{|/admin/show/manage|}" method="post">
                <input type="hidden" name="_method" value="PUT"/>
                <input type="text" th:value="${event.id}" name="evid" hidden>
                <button type="submit" class="red-font red-border">수정</button>
              </form>
              <form sec:authorize="hasRole('ADMIN')" th:action="@{|/admin/show/manage|}" id="delForm" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <input type="text" th:value="${event.id}" name="evid" hidden>
                <button type="button" onclick="doubleCheckDelete()" class="red-font red-border">삭제</button>
              </form>
              <button onclick="location.href='/show'" class="red-font red-border">목록으로</button>
            </div>
          </div>
        </section>
      </main>
    </th:block>
  </body>
</html>
