<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <th:block th:insert="/fragments/global::head-links" />
    <link rel="stylesheet" href="/styles/pages/show/detail.css" />
    <link rel="stylesheet" href="/styles/pages/show/purchase.css" />
    <title>Document</title>
    <script src="/javascript/show/purchase.js"></script>
  </head>
  <body>
    <th:block th:insert="~{/fragments/global::global(~{this::main})}">
      <main>
        <section class="themeArea">
          <div class="basicInfoArea">
            <!-- 행사정보 ######################################### -->
            <div class="InfoArea">
                <table style="display:flex;justify-content: left; width : 100%;">
                    <thead>
                        <td class="flex" th:if="${event.sacPlanned}">
                            <button class="likeBtn" type="button"><img src="/imgsrc/assets/cwa-top_star.png" alt=""> 찜하기</button> 
                            <p class="planner"th:if="${event.sacPlanned} == 'y'">
                                SAC기획
                            </p>
                            <p class="planner"th:if="${event.sacPlanned} == 'c'">
                              공동주최
                            </p>
                        </td>
                        <tr>
                            <td class="eventTitle">[[${event.eventTitle}]]</td>
                        </tr>
                    </thead>
                </table>
              <table style="font-size : 14px;">
                <tbody>
                  <tr class="tableL" th:unless="${event.openDate} eq null">
                    <td class="col1">기간</td>
                    <td class="col2">
                      [[${event.openDate}]] ~ [[${event.finDate}]]
                    </td>
                  </tr>
                  <tr class="tableL" th:if="${#lists.size(event.eventTime) > 0}">
                    <td class="col1">시간</td>
                    <td class="col2">
                      <span  th:each="a : ${event.eventTime}">
                        [[${#strings.substring(a,0,10)}]] [[${#strings.substring(a,11,16)}]] / 
                      </span>
                    </td>
                    <td class="col2" th:if="${event.openTime}">
                        [[${event.openTime}]] ~ [[${event.closeTime}]] (※매주 월요일 휴관)
                    </td>
                  </tr>
                  <tr class="tableL" th:unless="${event.lastEntrance} eq ''">
                    <td class="col1">입장마감</td>
                    <td class="col2">
                      [[${event.lastEntrance}]]
                    </td>
                  </tr>
                  <tr class="tableL">
                    <td class="col1">장소</td>
                    <td class="col2">
                      <span>
                        [[${event.venue1}]] [[${event.venue2}]]
                        [[${event.venue3}]]
                      </span>
                    </td>
                  </tr>
                  <tr class="tableL" th:if="${event.requiredAge}">
                    <td class="col1">입장연령</td>
                    <td class="col2">
                      <span>[[${event.requiredAge}]]</span>
                    </td>
                  </tr>
                  <tr class="tableL" th:if="${event.runningTime} ne '0'">
                    <td class="col1" style="font-size:12px">관람시간(분)</td>
                    <td class="col2">[[${event.runningTime}]]</td>
                  </tr>
                  <tr class="tableL" th:if="${event.pricingPolicy}">
                    <td class="col1">가격</td>
                    <td class="col2">
                      <span th:each="a : ${event.pricingPolicy}">
                        [[${a.subject}]] [[${a.price}]]원 /
                      </span>
                    </td>
                  </tr>
                  <tr class="tableL" th:if="${not #lists.isEmpty(event.organizer)}">
                    <td class="col1">주최</td>
                    <td class="col2">
                      <span th:each="a : ${event.organizer}"> [[${a}]], </span>
                    </td>
                  </tr>
                  <tr class="tableL" th:if="${not #lists.isEmpty(event.host)}">
                    <td class="col1">주관</td>
                    <td class="col2">
                      <span th:each="a : ${event.host}"> [[${a}]], </span>
                    </td>
                  </tr>
                  <tr class="tableL" th:if="${not #lists.isEmpty(event.sponsor)}">
                    <td class="col1">후원</td>
                    <td class="col2">
                      <span th:each="a : ${event.sponsor}"> [[${a}]], </span>
                    </td>
                  </tr>
                  <tr class="tableL" th:if="${event.contact}">
                    <td class="col1" style="border-bottom : 1px solid #2e2e2e">문의</td>
                    <td class="col2">
                      <span> [[${event.contact}]] </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="PosterArea">
              <!-- onsale여부, default poster, poster -->
              <img th:unless="${event.poster}" src="/imgsrc/noImage300x300.png" style="width:220px" alt="">
              <img th:if="${event.poster}" th:src="${event.poster.filePath} + ${event.poster.fileName}" style="width:220px" alt="">
              <button th:onclick="location.href='/show/'+[[${event.id}]]+'/ticket'" type="button" style="cursor : unset" th:if="${event.onSale} eq o">예매</button>
              <button type="button" style="cursor : unset" th:if="${event.onSale} eq s">현장예매</button>
              <button type="button" style="cursor : unset" th:if="${event.onSale} eq p">예정</button>
              <button type="button" style="cursor : unset" th:if="${event.onSale} eq c">종료</button>
              <button type="button" style="cursor : unset" th:if="${event.onSale} eq i">초대행사</button>
            </div>
            <!-- ######################################### 행사정보 끝 -->
          </div>
        </section>
        <section class="navigator">
          <div class="navsizebox">
            <div class="navigate">
              <a class="navHome" href="/"
                ><img src="/imgsrc/assets/cwac-menu_icon01.png" alt=""
              /></a>
              <a class="navSelect" href="#">공연·전시</a>
              <a class="navSelect" href="#">입장권 구매</a>
            </div>
            <div class="actions">
              <a class="printicon" href="#"
                ><img src="/imgsrc/assets/cwac-menu_icon03.png" alt=""
              /></a>
              <a class="shareicon" href="#"
                ><img src="/imgsrc/assets/cwac-menu_icon04.png" alt=""
              /></a>
            </div>
          </div>
        </section>
        <section class="pageContents">
          <div class="maincontents">
            <!--  ############################################################## -->
            <h3 class="microtitle">입장권 구매</h3>
            <form th:action="@{/show/${event.id}/ticket}" method="POST">
                <div class="ticketSummary">
                    <table>
                        <tbody>
                            <tr>
                                <td class="c1" th:if="${event.eventGroup}=='show'">
                                    공연명
                                </td>
                                <td class="c1" th:if="${event.eventGroup}=='exhibition'">
                                    전시명
                                </td>
                                <td class="c2">
                                    [[${event.eventTitle}]]
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    장소
                                </td>
                                <td class="c2">
                                    [[${event.venue1}]] [[${event.venue2}]] [[${event.venue3}]]
                                </td>
                            </tr>
                            <th:block th:if="${#lists.size(event.eventTime) > 0}">
                            <tr>
                                <td class="cols1">
                                    회차 선택<br>(공연 시작시작)
                                </td>
                                <td class="c2">
                                    <select name="validDateTime" id="eTime">
                                        <option th:each="b : ${event.eventTime}" th:value="${b}">
                                            [[${#strings.substring(b,0,4)}]]년 [[${#strings.substring(b,5,7)}]]월 [[${#strings.substring(b,8,10)}]]일 [[${#strings.substring(b,11,13)}]]시 [[${#strings.substring(b,14,16)}]]분
                                        </option>
                                        
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="cols1">
                                    최차별 공연시간
                                </td>
                                <td class="c2">
                                    [[${event.runningTime}]] 분
                                </td>
                            </tr>
                            </th:block>
                            <th:block th:unless="${#lists.size(event.eventTime) > 0}">
                                <tr>
                                    <td class="cols1">
                                        입장권 유효기간
                                    </td>
                                    <td class="c2">
                                        [[${event.openDate}]] ~ [[${event.finDate}]]
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cols1">
                                        운영시간
                                    </td>
                                    <td class="c2">
                                        [[${event.openTime}]] ~ [[${event.closeTime}]] (* 입장마감 : [[${event.lastEntrance}]])
                                    </td>
                                </tr>
                            </th:block>
                            <tr>
                                <td>
                                    입장권
                                </td>
                                <td class="c2">
                                    <ul id="selectedTickets">
                                        <li th:each="a : ${event.pricingPolicy}">
                                            [[${a.subject}]]&nbsp;&nbsp;
                                            <button class="numberDown" type="button">&#9661;</button>
                                            <input type="text" value="0" class="visitors" name="ticketClassPrice" style="width:30px;height : 1.5rem;" max="99" disabled>
                                            <button class="numberUp" type="button">&#9651;</button>
                                            <input type="number" class="ticketprice" th:value="${a.price}">
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    총 결제금액
                                </td>
                                <td>
                                    <span class="red-font" id="totalPrice">0</span><span> 원</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="purchaseBtn" type="button">결제</button>
                </div>
            </form>
          </div>
        </section>
      </main>
    </th:block>
  </body>
</html>
