.pageContents .maincontents p,
.pageContents .maincontents a,
.pageContents .maincontents span {
  color: #333;
  font-size: 21px;
}

.pageContents .maincontents div > ul > li {
  color: #333;
  font-size: 35px;
  display: flex;
  font-size: 15px;
  flex-direction: column;
  justify-content: center;
  margin: 12% 0 12% 10%;
  font-weight: 600;
}

main > .themeArea {
  background: url("/imgsrc/theme-sitemap.jpg") no-repeat;
}

.pageContents .maincontents > div > ul > li > ul > li,
.pageContents div ul li ul li {
  color: #333;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 0 5% 10%;
}

.pageContents .maincontents li a {
  line-height: 25px;
  padding: 5px 0;
}

.pageContents .maincontents div > ul > li > a::before {
  position: relative;
  top: -5px;
  left: -10px;
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #686868;
  content: "";
}

.pageContents > .maincontents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pageContents > .maincontents > div {
  width: 18%;
}

.maincontents p.listTitle {
  border-top: 1px solid #ed1839;
  border-bottom: 1px solid #dfdfdf;
  color: #ed1839;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
}

.pageContents div ul li .microCategory li a,
.pageContents div ul li ul li a {
  display: inline-block;
  color: #676767;
  font-size: 15px;
  border: 1px solid #dfdfdf;
  width: 100%;
  border-radius: 25px;
  padding: 5px 12px;
  font-weight: normal;
}
